<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_admin}">
<head>
    <meta charset="UTF-8">
    <title>Empty</title>
    <th:block layout:fragment="css">
        <!--사용할 css는 여기에 첨부 -->
        <link rel="stylesheet" type="text/css" href="/css/admin_main.css">
    </th:block>

</head>
<body layout:fragment="content_admin">
<div id="fullscreen">
    <div id="_emt1"></div>
    <div id="_emt2">
        <div id="_emt3">
            <div id="use_screen">
                <div id="div_main">
                <div id="dept_Div">
                    <div id="dept_Div2">
                        <button type="button" class="dept_btn" id="dept_btn_it" th:data-userdept="IT">IT</button>
                        <button type="button" class="dept_btn" th:data-userdept="디자인">디자인</button>
                        <button type="button" class="dept_btn" th:data-userdept="경영">경영</button>
                        <button type="button" class="dept_btn" th:data-userdept="개발">개발</button>
                    </div>
                    <div id="dept_Div3">
                        <div class="com_search">
                            <div class="search_div">
                                <select name="user_position" id="tag" class="search_tag">
                                    <option value="" selected disabled hidden>직급 선택</option>
                                    <option value="">선택 없음</option>
                                    <option value="신입">신입</option>
                                    <option value="팀장">팀장</option>
                                </select>
                                <div class="search_input">
                                    <input type="text" class="search_input_text" id="search"
                                           placeholder="사원이름을 입력해주세요.">
                                </div>
                                <div class="search_btn">
                                    <button type="button" class="search_input_btn" id="submit_search">검색</button>
                                </div>
                            </div>
                        </div>
                        <div class="com_chk">
                            <div class="user_check_form_IT">
                                <button type="button" class="check-all">모두 체크</button>
                                <button type="button" class="uncheck-all">체크 해제</button>
                                <select name="user_position" class="search_tag2" id="chk_tag">
                                    <option value="" selected disabled hidden>직급 선택</option>
                                    <option value="신입">신입</option>
                                    <option value="팀장">팀장</option>
                                </select>
                                <button type="button" id="btn_text" class="chk_btn_submit">변경
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="dept_Div4">
                        <div class="user_div">
                            <div class="user-grid-container">
                                <div class="notice_item" id="userListWrapper">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="user_Div">
                    <div id="user_Div2">
                        <div id="user_div_title">
                            사원 상세보기
                        </div>
                        <div id="user_div_img">
                            <div id="user_div_img2">
                                <img src="/img/user.png" id="user_img">
                            </div>
                        </div>
                        <div id="user_div_content">
                            <div id="user_div_content2">
                                <table id="user_div_content_table">
                                    <tr>
                                        <th style="border-top-left-radius: 5px">이름</th>
                                        <td style="border-top-right-radius: 5px" id="name">사원 이름</td>
                                    </tr>
                                    <tr>
                                        <th>사번</th>
                                        <td id="eno">사원 사번</td>
                                    </tr>
                                    <tr>
                                        <th>부서</th>
                                        <td id="dept">사원 부서</td>
                                    </tr>
                                    <tr>
                                        <th>직급</th>
                                        <td id="position">사원 직급</td>
                                    </tr>
                                    <tr>
                                        <th>이메일</th>
                                        <td id="email">사원 이메일</td>
                                    </tr>
                                    <tr>
                                        <th>주소</th>
                                        <td id="address"><p id="address_id">사원 주소</p></td>
                                    </tr>
                                    <tr>
                                        <th>번호</th>
                                        <td id="phone">사원 번호</td>
                                    </tr>
                                    <tr>
                                        <th style="border-bottom-left-radius: 5px; border-bottom-width: 1px">입사일</th>
                                        <td style="border-bottom-right-radius: 5px; border-bottom-width: 1px" id="joindate">사원 입사일</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="user_div_btn">
                            <div id="user_div_btn2">
                                <div class="user_position_div2">
                                    <select name="user_position" class="user_po" id="all">
                                        <option value="" selected disabled hidden>직급 변경</option>
                                        <option value="신입">신입</option>
                                        <option value="팀장">팀장</option>
                                    </select>
                                </div>
                                <button type="button" class="up_btn" id="all2" value="">변경</button>
                                <button type="button" id="pwd_clean">패스워드 초기화</button>
                                <button type="button" id="delete_user" class="user_delete_div2" value="">사원 삭제</button>
                            </div>
                        </div>
                        <div id="user_div_text">
                            <div id="user_div_text2">
                                  <p><b>사원 상세보기를 하시려면 사원을 클릭하세요.</b></p>
                            </div>
                        </div>

                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup_layer" id="popup_layer3">
    <div class="popup_box3">
        <!--팝업 컨텐츠 영역-->
        <div id="alret0">알 림
        </div>
        <div id="alret">
        </div>
        <div id="alret2">
            <button type="button" class="alram_btn" id="b1" onclick="sub()" style="margin-right: 10px">확인</button>
            <button type="button" class="alram_btn" id="b2" onclick="del()" style="margin-right: 10px">확인</button>
            <button type="button" class="alram_btn" id="b3" onclick="can()">취소</button>
        </div>
    </div>
</div>
<div class="popup_layer" id="popup_layer4">
    <div class="popup_box4">
        <!--팝업 컨텐츠 영역-->
        <div id="alret0_1">알 림
        </div>
        <div id="alret_1">
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <!--사용할 자바스크립트는 여기에 첨부 -->
    <script src="/js/admin_main.js"></script>
</th:block>
</html>