*{
    margin:0;
    padding:0;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
}
.container{
    width: 500px;
    margin: 0 auto;
    padding: 25px;
}
#chat_title{

}
.container h1{
    text-align: left;
    padding: 5px 5px 5px 15px;
    color: #181F42;
    border-left: 3px solid #181F42;
    margin-bottom: 20px;
}
.roomContainer{
    background-color: #F6F6F6;
    width: 500px;
    height: 500px;
    overflow: auto;
}
.roomList{
    border: none;
}
.roomList th{
    border: 1px solid #181F42;
    color: #181F42;
    background-color: white;
}
.roomList td{
    border: 1px solid #181F42;
    background-color: #181F42;
    text-align: left;
    color: white;
}
.roomList .num{
    width: 75px;
    text-align: center;
}
.roomList .room{
    width: 350px;
}
.roomList .go{
    width: 71px;
    text-align: center;
}
.roomList .del{
    width: 31px;
    text-align: center;
}
button{
    background-color: #181F42;
    font-size: 14px;
    color: white;
    border: 0px;
    padding: 3px;
    cursor: pointer;
}
button:hover{
    background-color: #253170;
    cursor: pointer;
}
.inputTable{
    width: 100%;
    margin-top: 10px;
}
.inputTable th{
    padding: 5px;
    border: 0px;
}
.inputTable input{
    width: 330px;
    height: 25px;
}
#th_room{
    display: flex;
    justify-content: left;
    align-items: center;
}
#roomName{
    width: 80%;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid gray;
    border-right-width: 0px;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}
#createRoom{
    background-color: #181F42;
    font-size: 14px;
    color: white;
    border: 0px;
    padding: 3px;
    cursor: pointer;
    width: 20%;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background-color 0.25s ease-in-out;
}