body {
    margin: 0;
    padding: 0;
}
.title > p {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 15px;
    color: grey;
}

.boody {
    min-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* 검색 */

.searchDiv {
    width: 800px;
    padding: 30px;
    border: 1px solid #C8D1DB;
    border-radius: 10px;
    background-color: #F9F9F9;
    text-align: center;
}

select {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    height: 40px;
    padding: 0 11px;
    padding-right: 34px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
}

input {
    display: inline-block;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    height: 39px;
    padding: 0 11px;
    padding-right: 34px;
    font-size: 16px;
}

button {
    color: white;
    display: inline-block;
    background-color: #181F42;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}

/* 검색 */

table {
    width: 850px;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

th {
    background-color: #eaeaea;
    border-top: 2px solid black;
}

td:last-child, th:last-child {
    border-right: none; /* 마지막 열의 세로 구분선 제거 */
}

tbody > tr:hover {
    cursor: pointer;
    background-color: rgba(229, 229, 229, 0.72);
}