*{
    margin:0;
    padding:0;
}
input {
    border: 1px solid black;
}
button {
    width: 75px;
    height: 25px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}
button:hover{
    background: #181F42;
    color: whitesmoke;
    transition: background-color 0.3s ease;
}
.container{
    width: 500px;
    margin: 0 auto;
    padding: 25px
}
.container h1{
    text-align: left;
    padding: 5px 5px 5px 15px;
    color: #181F42;
    border-left: 3px solid #181F42;
    margin-bottom: 20px;
}
.chat-div{
    background-color: #000;
    width: 500px;
    height: 500px;
    overflow: auto;
}
.chat-div .me{
    color: #33ff33;
    text-align: right;
}
.chat-div .others{
    color: fuchsia;
    text-align: left;
}
input{
    width: 330px;
    height: 25px;
}
#fileUpload {
    border: none;
}
#yourMsg{
    display: none;
}
.msgImg{
    width: 200px;
    height: 125px;
}
.clearBoth{
    clear: both;
}
.img{
    float: right;
}