* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
    margin-top: 50px;
}

.board_title {
    margin-bottom: 60px;
}

.board_title strong {
    font-size: 2rem;
}

.bt_wrap {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
}

.bt_wrap button {
    display: inline-block;
    min-width: 70px;
    margin-left: 10px;
    padding: 5px;
    border:  1px solid #000;
    border-radius: 2px;
    font-size: 0.8rem;
    margin-right: 10px;
}

.bt_wrap button:first-child {
    margin-left: 0;
}

.bt_wrap button.on {
    background: #000;
    color: #fff;
}

.bt_wrap button.on:hover {
    background-color: #373737;
}

.bt_wrap button:hover {
    background-color: #dcdcdc;

}


.board_view {
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2.0rem;
    font-weight: bold;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 15px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 0.8rem;
}

.board_view .info dl dt {

}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1rem;
    word-break: break-all;
}

.board_write {
    border-top: 2px solid #000;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    padding: 2px;
    display: flex;
    align-items: center;
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;

}
.file_list{
    position: relative;
    width: 280px;
    margin-left: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#dt_btn{
    top: 6px;
    right: 0px;
}
.file_input{
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}
.file_input2{
    width: 100%;
    display: flex;
    margin-top: 6px;
    margin-bottom: 10px;
}
.file_del_btn{
    width: 40px;
    height: 25px;
    font-size: 13px;
}
#file_input_label{
    width: 200px;
}

.fn_add_btn {
    width: 40px;
    height: 25px;
    font-size: 13px;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}

.board_write .title dt,
.board_write .info dt{
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 80%;
    font-size: 1rem;
}


.board_write .cont {
    border-bottom:  1px solid #000;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: none;
    word-break: break-all;
}

.noticeTitle {
    margin-top: 40px;
    margin-left: 39px;
    font-size: 15px;
    color: grey;
}

.item_list  {
    background: none;
    border: 0px;
    outline: none;
}
#file_input_label22{
    width: 0px;
    height: 0px;
}

.file_cs {
    margin-top: 10px
}

.file-hover a:hover {
    color:#23527c;
}