html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background: whitesmoke;
}

a {
    color: black;
    text-decoration: none;
}

/* 머리부분 시작 */
#boardDept{
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 15px;
    color: grey;
}

@media (max-width: 1000px) {
    #_emt2{
        width: 1000px;
    }
}
/* 머리부분 끝 */


/* 몸통 부분 */
#use_screen2{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 몸통 부분 */
.boody {
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    width: 70%;
    min-height: 92.5vh;
    margin: 0 auto;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

/* 제목 부분 */
.div-botitle {
    width: 90%;
    height: 80px;
    padding: 5px;
    background-color: rgba(217, 217, 217, 0.3);
    border-top: 1.5px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.board-title {
    margin-left: 30px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* 제목 부분 */

/* 내용 부분 */
.div-content {
    width: 90%;
    min-height: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.board-content {
    margin: 30px 30px 30px 30px;
    word-break: break-all;
}
/* 내용 부분 */

/* 작성 관련 내용 부분 */
.div-values {
    display: flex;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    align-items: center;
}
.div-cnt{
    display: flex;
}

#cntIcon {
    width: 25px;
    margin-right: 10px;
}

.div-like{
    display: flex;
}

#likeIcon {
    width: 22px;
    margin-right: 8px;
}
/* 작성 관련 내용 부분 */

/*첨부파일 내용 부분*/
.div-files {
    position: relative;
}

.label-hover:hover + .files-hov,
.label-hover + .files-hov:hover {
    display: block;
}

.label-hover {
    cursor: pointer;
}

.files-hov {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    text-align: center;
    display: none;
    max-height: 150px; /* 원하는 높이로 조정 */
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}

.files-hov .div-file-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.files-hov .div-file-list:last-child {
    margin-bottom: 0;
}

.files-hov .div-file-list a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.files-hov .div-file-list a:hover {
    background-color: #f0f0f0;
}

/*첨부파일 내용 부분*/


/* 버튼들 */
.div-board-btns {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.div-board-btns > * {
    margin: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-board-btns > *:hover{
    background: #181F42;
    color: whitesmoke;
    transition: background-color 0.3s ease;
}

.delete:hover {
    color: white;
    background: red;
    transition: background-color 0.3s ease;
}
/* 버튼들 */


/* 댓글 시작 */


/* 댓글 구역 */
.reply_title_dform {
    width: 80%;
}

.div-reply {
    width: 80%;
    scroll-behavior: smooth;
}
/* 댓글 구역 */

.reply-title {
    margin-bottom: 10px;
}

/* 댓글 작성 */
.reply-dform {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.reply-form {
    flex-grow: 1;
    margin-right: 10px;
}

.reply-area {
    resize: none;
    width: 100%;
    height: 70px;
    border: 0.5px solid #000;
    border-bottom: none;
    box-sizing: border-box;
    margin-bottom: -10px;
    outline: none !important;
    padding: 10px;
}

.reply-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid #000;
    padding: 5px;
    box-sizing: border-box;
    height: 40px;
    position: relative; /* 부모 요소에 대한 상대적인 위치 설정 */
}

#reply-length {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reply-input {
    height: 100%;
    width: 70px;
    border: none;
    background: #181F42;
    color: whitesmoke;
    transition: background-color 0.3s ease;
    position: absolute; /* 절대적인 위치 설정 */
    top: 50%; /* 부모 요소의 50% 위치로 이동 */
    left: 50%; /* 부모 요소의 50% 위치로 이동 */
    right: 0;
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 위치 조정 */
    margin-left: auto;
    margin-right: -35px;
    border-left: 0.5px solid black;
    cursor: pointer;
}

.reply-input:hover{
    background: #33ff33;
    color: fuchsia;
    font-weight: bolder;
}

/* 댓글 작성 */


/* 댓글 반복 */
#reply_user_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.div-reply-for {
    margin-top: 5px;
    margin-bottom: 5px;
}


.reply-wri-btn {
    display: flex;
    justify-content: space-between;
}

.reply-writer {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.reply-writer > span {
    margin-left: 5px;
    font-size: small;
}

.reply-content {
    margin-top: 15px;
    margin-bottom: 5px;
    overflow-y: auto;
}

.reply-content-hr {
    margin-bottom: 20px;
}

.reply-fbtn {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    width: 31px;
    height: 22px;
}
/* 댓글 반복 */