body {
    width: 100vw;
    height: 100vh;
    min-width: 1200px;
    background-color: #F6F8FF;
}

a {
    color: black;
    text-decoration: none;
}

/* 머리부분 시작 */
.heead {
    display: flex;
    height: 78px;
    /* border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2); */
}
/* 머리부분 끝 */



/* 몸통 부분 */
.boody {
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}
/* 몸통 부분 */

/* 제목 부분 */
.div-botitle {
    margin-top: 30px;
    width: 90%;
    height: 80px;
    background-color: rgba(217, 217, 217, 0.3);
    border-top: 1.5px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.board-title {
    margin-left: 30px;
    font-size: 24px; 
}
/* 제목 부분 */

/* 내용 부분 */
.div-content {
    width: 90%;
    height: 400px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.board-content {
    margin: 30px 30px 30px 30px;
    white-space: pre-wrap;
}
/* 내용 부분 */

/* 작성 관련 내용 부분 */
.div-values {
    display: flex;
    width: 90%;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    align-items: center;
}
/* 작성 관련 내용 부분 */


/* 버튼들 */
.div-board-btns {
    display: flex;
    width: 90%;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.div-board-btns > * {
    margin: 10px;
    cursor: pointer;
    border: 1px solid black;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-board-btns > *:hover{
    color: white;
    background-color: #62A9EB;
}
/* 버튼들 */


/* 댓글 작성 */
.reply-form, .reply-title, .div-reply{
    width: 100%;
    justify-content: flex-start;
}

.reply-area{
    resize: none;
}

.for-reply{
    display: flex;
}
/* 댓글 작성 */