body {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}


/* 머리부분 시작 */
.heead {
    display: flex;
    height: 78px;
    /* border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2); */
}
/* 머리부분 끝 */

.title > p {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 15px;
    color: grey;
}

/* 몸통 부분 */
.boody {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
}
/* 몸통 부분 */

/* 정렬 버튼 */
.div-sort {
    margin-left: 42%;
}
.sort-btn{
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
}
.sort-btn:hover{
    background: #181F42;
    color: whitesmoke;
    transition: background-color 0.3s ease;
}
/* 정렬 버튼 */


/* 검색창 */
.div-search {
    min-width: 1000px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.search-value{
    margin-left: auto;
    margin-right: 5px;
}

.search-value > *{
    margin: 5px;
}

.search-select {
    border: none;
    background-color: transparent;
    appearance:none;
    cursor: pointer;
}

.search-select:focus {
    outline: none !important;
    box-shadow: none !important;
}

.search-input {
    color: black;
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid black;
    cursor: pointer;
}

.search-input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.search-btn {
    border: 0.5px solid black;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    width: 45px;
    height: 25px;
}
#btn_search:hover {
    background: #181F42;
    color: whitesmoke;
    transition: background-color 0.3s ease;
}
/* 검색창 */


/* 게시판 테이블 */
.board-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

.board-table thead th {
    background-color: #eaeaea;
    border-top: 2px solid black;
}

.board-table th,
.board-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    white-space: nowrap; /* 줄 바꿈 없이 한 줄로 유지 */
    overflow: hidden; /* 넘치는 내용을 숨김 */
    text-overflow: ellipsis; /* 넘치는 내용을 ...으로 표시 */
}

.board-table td {
    font-size: medium;
}

.table-no {
    width: 10%;
}
.table-title {
    width: 35%;
}
.table-name {
    width: 10%;
}
.table-date {
    width: 25%;
}
.table-cnt {
    width: 10%;
}
.table-like{
    width: 10%;
}
.table-title > a:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(105, 107, 122, 0.17);
    border-radius: 3px;
    padding: 5px;
}
/* 게시판 테이블 */



/* 페이징 박스 */
.paging {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}

.paging > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-grow: 1;
}
.page_link {
    border: 0.5px solid black;
    border-radius: 3px;
    margin: 3px;
    padding: 7px;
    cursor: pointer;
}

.page_link:hover{
    background: #181F42;
    color: whitesmoke;
    transition: background-color 0.3s ease;
}

.div-writeBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    border: 0.5px solid black;
    border-radius: 3px;
    padding: 2px;
}

.div-writeBtn:hover {
    background: #181F42;
    color: whitesmoke;
    transition: background-color 0.3s ease;
}

.board_ul {
    display: flex;
}

/* 페이징 박스 */
