body {
    width: 100vw;
    height: 100vh;
    min-width: 1200px;
    background-color: #F6F8FF;
}

input, textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}


/* 몸통 부분 */
.boody {
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

form {
    width: 90%;
}
/* 몸통 부분 */


/* 제목 부분 */
.div-botitle {
    margin-top: 30px;
    width: 100%;
    height: 80px;
    background-color: rgba(217, 217, 217, 0.3);
    border-top: 1.5px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.board-title {
    margin-left: 30px;
    font-size: 24px; 
}

.board-title > input {
    background-color: transparent;
    border: none;
    font-size: 30px;
    width: 500px;
}
/* 제목 부분 */


/* 내용 부분 */
.div-content {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.board-content {
    margin: 20px 20px 20px 20px;
}

.board-content > textarea {
    border: none;
    font-size: 15px;
    resize: none;
    width: 100%;
    height: 375px;
}
/* 내용 부분 */



/* 첨부파일 */
.div-values {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /*display: flex;*/
    /*align-items: center;*/
}

.div-files {
    width: 100%;
}
/* 첨부파일 */
        


/* 버튼들 */
.div-board-btns{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-board-btns > button {
    margin: 20px;
    cursor: pointer;
    border: 1px solid black;
    width: 50px;
    height: 30px;
    background: transparent;
}

.div-board-btns > button:hover {
    color: white;
    background: #62A9EB;
}
/* 버튼들 */            
