body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 0;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Noto Sans KR', sans-serif;
}
#fullscreen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#screen1{
    background-color: rgb(255,255,255,0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 450px;
    height: 600px;
}
#logo_div{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo_img2{
    width: 140px;
    height: 50px;
}
#file_div{
    width: 100%;
    height: calc(100% - 170px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#text_div{
    width: 80%;
    height: 80%;
    background-color: rgb(255,255,255,0.2);
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    color: #4c4c4c;
}
#text_div2{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#file_div2{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#file{
    font-family: 'Noto Sans KR', sans-serif;
}
#div_form{
    margin-top: 15px;
}
#submit_btn{
    width: 50px;
    height: 25px;
    background-color: #4c4c4c;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
    outline: none;
    border: 1px solid #4c4c4c;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}
#submit_btn:hover{
    background-color: #2c2c2c;
}
#file_div3{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #4c4c4c;
    font-family: 'Noto Sans KR', sans-serif;
}
#file_div4{
    display: flex;
    align-items: center;
    justify-content: center;
}
#status_text{
    font-size: 10px;
}

@keyframes shake {
    0% {
        transform: translateX(1px);
    }
    20% {
        transform: translateX(-1px);
    }
    40% {
        transform: translateX(1px);
    }
    60% {
        transform: translateX(-1px);
    }
    80% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0px);
    }
}

.shake-animation {
    animation: shake 0.5s linear;
    animation-iteration-count: 2;
    animation-delay: 0.2s;
}
.div_form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_form input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.div_form .upload-name {
    height: 22px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 50%;
    color: #999999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 30px;
}
.div_form .upload-name:focus{
    outline: none;
    border: 1px solid #dddddd;
}
.div_form label {
    color: #fff;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c4c4c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    height: 26px;
    width: 50px;
    font-size: 10px;
}
.div_form label:hover{
    background-color: #2c2c2c;
}
#logout_div{
    width: 100%;
    height: 50%;
    padding-bottom: 40px;
    box-sizing: border-box;
}
#back_div2{
    width: 50%;
    height: 45px;
    margin: 40px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logout_div3{
    width: 70%;
    height: 45px;
    margin: auto;
}
.div_btn2{
    color: #4c4c4c;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border: 0px;
}
.div_btn2:hover{
    color: #6c6c6c;
    cursor: pointer;
}
.div_btn{
    width: 100%;
    height: 45px;
    background-color: black;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: 0px;
}
.div_btn:hover{
    background-color: #2c2c2c;
}