
:root {
    --primary-color: white;
    --secondary-color: white;
    --black: #000000;
    --white: #ffffff;
    --gray: #efefef;
    --gray-2: #757575;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Noto Sans KR', 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    overflow: hidden;
    background-color: whitesmoke;
    background-size: cover;
}

.container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.col {
    width: 50%;
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-wrapper {
    width: 100%;
    max-width: 28rem;
}

.form {
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 1.5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(0);
    transition: .5s ease-in-out;
    transition-delay: 1s;
}

.input-group {
    position: relative;
    width: 100%;
    margin: 1rem 0;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: var(--gray-2);
}

.input-group input {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1rem;
    background-color: rgb(200, 200, 200, 0.2);
    border-radius: 5px;
    border: 0px;
    outline: none;
    border: 1px solid gray;
    color: black;
}

.input-group input::placeholder {
    color: gray;
    font-size: 13px;
}

.input-group input:focus {
    border: 1px solid #253170
}

.form button {
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: .6rem 0;
    border-radius: .5rem;
    border: none;
    background-color: #181f42;
    color: white;
    font-size: 1.2rem;
    outline: none;
    margin-top: 30px;
    transition: background-color 0.25s ease-in-out;
}

.form button:hover {
    background-color: #253170;
}

.form p {
    margin: 1rem 0;
    font-size: .7rem;
}

.flex-col {
    flex-direction: column;
}


.pointer {
    cursor: pointer;
}

.container.sign-up .form.sign-up {
    transform: scale(1);
}

.content-row {
    position: absolute;
    top: 100px;
    left: 0;
    pointer-events: none;
    z-index: 6;
    width: 100%;
}

.text {
    margin: 4rem;
    color: var(--white);
}

.text h2 {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 2rem 0;
    transition: 1s ease-in-out;
}

.text p {
    font-weight: 600;
    transition: 1s ease-in-out;
    transition-delay: .2s;
}

.img img {
    width: 30vw;
    transition: 1s ease-in-out;
    transition-delay: .4s;
}

.text.sign-in h2,
.text.sign-in p,
.img.sign-in img {
    transform: translateX(250%);
}

.text.sign-up h2,
.text.sign-up p,
.img.sign-up img {
    transform: translateX(250%);
}

.container.sign-in .text.sign-in h2,
.container.sign-in .text.sign-in p,
.container.sign-in .img.sign-in img,
.container.sign-up .text.sign-up h2,
.container.sign-up .text.sign-up p,
.container.sign-up .img.sign-up img {
    transform: translateX(0);
}

/* BACKGROUND */

.container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300vw;
    transform: translate(66.7%, 0);
    background-color: #181f42;
    transition: 1s ease-in-out;
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: max(50vw, 50vh);
}

.container.sign-up::before {
    transform: translate(100%, 0);
    right: 50%;
}

/* RESPONSIVE */

@media only screen and (max-width: 425px) {

    .container::before,
    .container.sign-in::before,
    .container.sign-up::before {
        height: 100vh;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        z-index: 0;
        transform: none;
        right: 0;
    }

    /* .container.sign-in .col.sign-up {
        transform: translateY(100%);
    } */
    .container.sign-in .col.sign-in,
    .container.sign-up .col.sign-up {
        transform: translateY(0);
    }

    .content-row {
        align-items: flex-start !important;
    }

    .content-row .col {
        transform: translateY(0);
        background-color: unset;
    }

    .col {
        width: 100%;
        position: absolute;
        padding: 2rem;
        background-color: var(--white);
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        transform: translateY(100%);
        transition: 1s ease-in-out;
    }

    .row {
        align-items: flex-end;
        justify-content: flex-end;
    }

    .form,
    .social-list {
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    .text {
        margin: 0;
    }

    .text p {
        display: none;
    }

    .text h2 {
        margin: .5rem;
        font-size: 2rem;
    }
}

.div_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
}

.div_form input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.div_form .upload-name {
    height: 100%;
    padding: 1rem 1rem;
    width: calc(100% - 130px);
    vertical-align: middle;
    border: 1px solid #dddddd;
    background-color: rgb(200, 200, 200, 0.2);
    color: #999999;
    border-radius: 0px;
    font-size: 13px;
}

.div_form .upload-name:focus {
    outline: none;
    border: 1px solid #dddddd;
}

.div_form .upload-name::placeholder {
    color: gray;
    font-size: 13px;
}

.div_form label {
    color: #4c4c4c;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    height: 100%;
    width: 80px;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    border: 0px solid gray;
    border-right-width: 1px;
    transition: background-color 0.25s ease-in-out;
}

.div_form label:hover {
    background-color: #cecece;
}

#submit_btn {
    width: 50px;
    height: 100%;
    background-color: whitesmoke;
    color: #4c4c4c;
    font-size: 13px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0px solid gray;
    border-left-width: 1px;
    outline: none;
    transition: background-color 0.25s ease-in-out;
}

#submit_btn:hover {
    cursor: pointer;
    background-color: #cecece;
}

#file_div3 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 15px;
}

#file_div4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#status_text {
    font-size: 10px;
}

@keyframes shake {
    0% {
        transform: translateX(1px);
    }
    20% {
        transform: translateX(-1px);
    }
    40% {
        transform: translateX(1px);
    }
    60% {
        transform: translateX(-1px);
    }
    80% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0px);
    }
}

.shake-animation {
    animation: shake 0.5s linear;
    animation-iteration-count: 2;
    animation-delay: 0.2s;
}