#fullscreen{
    width: 100vw;
    height: 100vh;
}
#_emt1{
    width: 100%;
    height: 70px;
}
#_emt2{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
#_emt3{
    width: 100%;
    height: 100%;
}
#use_screen{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div_main{
    width: 76%;
    height: 100%;
    display: flex;
    background-color: white;
    border:1px solid darkgray;
    justify-content: center;
    align-items: center;
    padding: 70px;
    box-sizing: border-box;
}
#dept_Div{
    width: 50%;
    height: 100%;
    margin-right: 20px;
}
#user_Div{
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
    padding: 6px 10px 10px 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid darkgray;
}
#user_Div2 {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
#user_div_title{
    width: 100%;
    height: 40px;
    background-color: #181F42;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#user_div_img{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#user_div_img2{
    width: 120px;
    height: 140px;
    border-radius: 5px;
    border: 1px solid #4c4c4c;
}
#user_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#user_div_content{
    width: 100%;
    height: 400px;
    padding: 30px;
    box-sizing: border-box;
}
#user_div_content2{
    width: 100%;
    height: 100%;
}
#user_div_content_table{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-spacing: 0px;
}
#user_div_content_table tr{


}
#user_div_content_table th{
    border: 1px solid darkgray;
    border-right-width: 0px;
    border-bottom-width: 0px;
    font-size: 15px;
    height: 12.5%;
    width: 120px;
    background-color: #eaeaea;
    color: #2c2c2c;
}
#user_div_content_table td{
    border: 1px solid darkgray;
    border-bottom-width: 0px;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 14px;
    color: gray;
    background-color: white;
}
#user_div_text{
    width: 100%;
    height: calc(100% - 610px);
    padding: 0px 30px 30px;
    box-sizing: border-box;
}
#user_div_text2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4c4c4c;
}
#user_position_div2 p{
    font-size: 15px;
}
#user_div_btn{
    width: 100%;
    height: calc(100% - 610px);
    padding: 0px 30px 30px;
    box-sizing: border-box;
    display: none;
}
#user_div_btn2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pwd_clean{
    width: 25%;
    height: 40px;
    font-size: 13px;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
    box-sizing: border-box;
}
#pwd_clean:hover{
    background-color: #ebebeb;
    cursor: pointer;
}

#dept_Div2{
    margin: auto;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    padding-left: 5px;
}
#dept_Div3{
    margin: auto;
    width: 100%;
    height: 100px;
}
#dept_Div4{
    margin: auto;
    width: 100%;
    height: calc(100% - 142px);
    border: 1px solid darkgray;
    border-radius: 5px;
}
.dept_btn{
    font-size: 14px;
    width: 25%;
    height: 40px;
    box-sizing: border-box;
    margin-right: 5px;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 5px;
    outline: none;
}
.dept_btn:hover{
    background-color: #efefef;
    cursor: pointer;
}
.dept_div1{
    width: 25%;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
}

.com_title {
    width: 100%;
    height: 35px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_1 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.title_2 {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_3 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.title_text {
    font-size: 13px;
    color: black;
}
.all_list{
    font-size: 10px;
    color: black;
    margin-left: 15px;
    margin-top: 5px;
    font-weight: bold;
}
.all_list:hover{
    color: gray;
    cursor: pointer;
}
.more_text {
    font-size: 10px;
    color: black;
    margin-right: 15px;
    margin-top: 5px;
    font-weight: bold;
}
.com_search{
    width: 100%;
    height: 50px;
}
.search_div{
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
}
.search_tag{
    width: 85px;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid darkgray;
    border-right: 0px;
}
.search_tag:focus{
    outline: none;
}
.search_input{
    width: calc(100% - 150px);
    height: 100%;
}
.search_btn{
    width: 65px;
    height: 100%;
}
.search_input_text{
    width: 100%;
    height: 38px;
    border: 1px solid darkgray;
    padding-left: 15px;
}
.search_input_text:focus{
    outline: none;
    border: 1px solid black;
}
.search_input_btn{
    background-color: rgb(192, 193, 201);
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: #4c4c4c;
    outline: none;
    border: 1px solid rgb(192, 193, 201);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search_input_btn:hover{
    background-color: rgb(220, 221, 227);
    border: 1px solid rgb(220, 221, 227);
    cursor: pointer;
}

.com_content {
    width: 100%;
    height: calc(100% - 135px);
    background-color: white;
}
.com_chk{
    width: 100%;
    height: 40px;
    padding: 0px;
    box-sizing: border-box;
}
.user_check_form_IT{
    width: 100%;
    height: 100%;
    padding: 0px 7px 7px;
    box-sizing: border-box;
    display: flex;
}
.user_check_form_디자인{
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}
.user_check_form_경영{
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}
.user_check_form_개발{
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}
.check-all{
    width: 20%;
    height: 100%;
    margin-right: 7px;
    box-sizing: border-box;
    background-color: rgb(192, 193, 201);
    color: #4c4c4c;
    border: 0px;
    outline: none;
    border-radius: 5px;
}
.check-all:hover{
    background-color: rgb(220, 221, 227);
    cursor: pointer;
}
.uncheck-all{
    width: 20%;
    height: 100%;
    margin-right: 7px;
    box-sizing: border-box;
    background-color: rgb(192, 193, 201);
    color: #4c4c4c;
    border: 0px;
    outline: none;
    border-radius: 5px;
}
.uncheck-all:hover{
    background-color: rgb(220, 221, 227);
    cursor: pointer;
}
.search_tag2{
    width: 30%;
    height: 100%;
    margin-right: 7px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid darkgray;
    border-radius: 5px;
}
.chk_btn_submit{
    width: 30%;
    height: 100%;
    background-color: rgb(192, 193, 201);
    color: #4c4c4c;
    border: 0px;
    outline: none;
    border-radius: 5px;
}
.chk_btn_submit:hover{
    background-color: rgb(220, 221, 227);
    cursor: pointer;
}
.board {
    width: 100%;
    height: 100%;
    padding: 7px 7px 0px;
    box-sizing: border-box;
}

.user_div {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    overflow: auto;
}

.user_div::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

.user_div::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150, 0.5);
    border-radius: 10px;
}

.user_div::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
}

.user-grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid: '.';
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-row-gap: 0px;
    padding: 7px;
    box-sizing: border-box;
}

.notice_item {
    height: 100px;
}

.notice_table {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    color: #4c4c4c;
    border: 1px solid darkgray;
    margin-bottom: 7px;
    font-size: 13px;
}
.notice_table:hover{
    background-color: #e7e7e7;
}
/*.notice_table td,th {*/
/*    border: 1px solid gray;*/
/*}*/
.user_Name_th{
    width: 100px;
    height: 25px;
}
.user_Name_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.user_Name_div2{
    width: 80%;
    height: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.user_Name{
    font-size: 10px;
    width: calc(100% - 340px);
    height: 25px;
    color: black;
}
.user_Name_N {
    font-size: 10px;
    color: deepskyblue;
}
.user_Name_Y {
    font-size: 10px;
    color: indianred;
}
.user_Img_td{
    width: 100px;
    height: 100px;
}
.user_Img_div{
    width: 100%;
    height: 100%;
    display: flex;
}
.user_Img{
    border-radius: 5px;
    width: 100px;
    height: 100%
}
.user-checkboxIT{
    position: relative;
    top: -45px;
    left: -99px;
}
.user-checkbox디자인{
    position: relative;
    top: -45px;
    left: -99px;
}
.user-checkbox경영{
    position: relative;
    top: -45px;
    left: -99px;
}
.user-checkbox개발{
    position: relative;
    top: -45px;
    left: -99px;
}
.user_position_td{
    width: 120px;
    padding-right: 15px;
    box-sizing: border-box;
}
.user_position_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_position_div2{
    width: 25%;
    height: 40px;
    font-size: 13px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 5px;
}
.user_po{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid darkgray;
}
.up_btn{
    width: 25%;
    height: 40px;
    font-size: 13px;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
    box-sizing: border-box;
}
.up_btn:hover{
    background-color: #ebebeb;
    cursor: pointer;
}
.user_delete_td{
    width: 20px;
    height: 100%;
}
.user_delete_div{
    width: 100%;
    height: 100%;
    display: flex;
}
#delete_user{
    width: 25%;
    height: 40px;
    font-size: 13px;
    background-color: indianred;
    color: white;
    border: 1px solid indianred;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}
#delete_user:hover{
    border: 1px solid #a94442;
    background-color: #a94442;
    cursor: pointer;
}

.notice_td {
    width: 20%;
    height: 30%;
}

.notice_td_div {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.notice_type {
    width: 45px;
    height: 25px;
    background-color: #181F42;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.notice_title_td {
    font-size: 14px;
    text-align: left;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice_writer_cnt_td {
    width: 8%;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice_writer_cnt_td2 {
    width: 5%;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#bcnt {
    width: 6%;
}

.notice_img_div {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.notice_img_div2 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.img{
    width: 100px;
    height: 80px;
    border-radius: 5px;
}
.notice_content_div{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.notice_content_div2{
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: left;

    position: relative;
    line-height: 1em;
    max-height: 6em;
    overflow: hidden;
}
.notice_content_div2 span{
    display: inline-block;
}
@media (max-height: 900px) {
    #_emt2 {
        overflow: auto;
        height: 830px;
    }
}
@media (max-width: 1380px) {
    #_emt2{
        width: 1380px;
    }
}
