#fullscreen{
    width: 100vw;
    height: 100vh;
}
#_emt1{
    width: 100%;
    height: 70px;
}
#_emt2{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
#_emt3{
    width: 100px;
    height: 100%;
}
#_emt4{
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
}

#use_screen {
    width: 100%;
    height: 100%;
}

.use_screen_form{
    display: flex;
}
.page-name{
    margin-top: 40px;
    margin-left: 40px;
    font-size: 15px;
    color: grey;
}

.leftSpace, .rightSpace{
    width: 5.5%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.centerSpace{
    width: 89%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*데이터 입력부*/
#inputData-section{
    display: grid;
    position: relative;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    margin-left: 0;
    column-gap: 30px;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px;
    /*border: 1px dotted black;*/
}

.input-place, .input-date, .input-user, .input-text{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    height: 100%;
    width: 100%;
    padding: 5px;
    /*background-color: #ffffff;*/
    /*border: 1px solid black;*/
    text-align: center;
    align-items: center;
    /*line-height: 100%;*/
    justify-content: center;
}
.input-date-form, .input-place-form, .input-user-form, .input-text-form > * {
    text-align: center;
    align-items: center;
    /*line-height: 100%;*/
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

#inputData-section > div > div{
    background-color: #ffffff;
    border: 0.5px solid grey;
    height:30px;
    box-sizing: border-box;
}

.input-date-form {
    display: flex;
    justify-content: space-around;
}

.input-date-form label, .input-date-form p {
    display: inline-block;
}

#input-appLocation{
    align-items: center;
    /*width: calc(100% - 2px);*/
    /*height: calc(100% - 2px);*/
    /*max-width: calc(100% - 2px);*/
    width: 100%;
    height: 100%;
}

#input-appContent{
    resize: vertical;
    align-items: center;
    /*width: calc(100% - 2px);*/
    /*height: calc(100% - 2px);*/
    width: 100%;
    height: 100%;
}