#fullscreen{
    width: 100vw;
    height: 100vh;
}
#_emt1{
    width: 100%;
    height: 70px;
}
#_emt2{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
#_emt3{
    width: 80px;
    height: 100%;
}
#_emt4{
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
}

#use_screen {
    width: 100%;
    height: 100%;
    overflow: auto;
}
#use_screen::-webkit-scrollbar {
    background-color: #181F42;
    width: 8px;
    height: 0px;
}
#use_screen::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.5);
}

#use_screen::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.5);
}

.use_screen_form{
    display: flex;
}
.page-name{
    margin-top: 40px;
    margin-left: 40px;
    font-size: 15px;
    color: grey;
}

.leftSpace, .rightSpace{
    width: 5.5%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.centerSpace{
    width: 89%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.input-place, .input-date, .input-user, .input-text{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    height: 100%;
    width: 100%;
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.column{
    text-align: center;
    min-width: 100px;
    height: 35px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border: 0.5px solid grey;
}

.input-user-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input-date-form, .input-user-form, .input-place-form, .input-text-form{
    text-align: center;
    min-width: 100px;
    height: 35px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: #ffffff;
    border: 0.5px solid grey;
}

.input-date-form {
    display: flex;
    justify-content: space-around;
}

.input-date-form p, input {
    display: inline-block;
}

#input-Participant{
    resize: vertical;
    align-items: center;
    width: 100%;
    height: 100%;
}

#input-appLocation{
    width:100%;
    height: 100%;
}

#input-appContent{
    resize: vertical;
    align-items: center;
    width: 100%;
    height: 100%;
}

#input-appContent::placeholder {
    text-align: center;
}