#fullscreen{
    width: 100vw;
    height: 100vh;
}
#_emt1{
    width: 100%;
    height: 70px;
}
#_emt2{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
#_emt3{
    width: 100px;
    height: 100%;
}
#_emt4{
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
}
#use_screen{
    width: 100%;
    height: 100%;
}





/*결재승인(팀장용) css*/

/*메인 타이틀*/
#app_main_title {
    margin: 40px;
    font-size: 15px;
    color: grey;
}

/*메인 타이틀 종료*/

/*카드 리스트*/

#app_list_card {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    float: left;
    width: 250px;
    height: 100px;
    margin: 0 50px;
    border: 1px solid gray;
    padding-top: 5px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 2.5px 2.5px;
}

.card_title {
    font-size: 20px;
    padding-left: 25px;
    font-weight: bold;
    color: gray;
}

.card_content {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}

/*카드 리스트 종료*/


/*검색*/
.search-box {
    padding: 10px;
    float: right;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 30px;
    transition: 0.4s;
    width: 30px;
}

.search-box:hover { /*활성화 시 테두리 살짝 진해지도록*/
    box-shadow: 0px 0px .5px 1px grey;
    width: 290px; /*280 이하로 내려가면 마우스 아이콘 위치 깨짐*/
}

.search-btn {
    text-decoration: none;
    float: right;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center; /*justify-content, align-items는 display: flex일 때만 쓸 수 있고, 원 가운데 돋보기 위치시키기 위한 지정값*/
    align-items: center;
    color: gray;
}

.search-box:hover > .search-btn {
    background-color: #fff;
}

.search-txt {
    display: flex;
    padding: 0;
    width: 0px;
    border: none;
    background: none;
    outline: none;
    float: left;
    font-size: 15px;
    line-height: 30px;
    transition: .4s;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

/*검색 종료*/


/*탭 리스트*/

.app-list-tab {
    width: 90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    /*border: 2px solid gray;*/
}

.taps {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.tap-link {
    background: lightgrey;
    color: #222;
    display: inline-block;
    padding: 15px 50px;
    font-size: 15px;
    cursor: pointer;
}


.tap-link:hover {
    background: #181F42;
    color: white;
}

.here {
    background: white;
    color: #222;
}

.tab-content {
    display: none;
}

.now {
    display: inherit;
}


/*탭 리스트 종료*/

/*결재 목록*/
.content-wrapper {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;

}

.table {
    width: 100%;
    margin: 0 10px;
    color: #212529;
    /*background-color: white;*/
    border-collapse: separate;
    border-spacing: 0 10px; /*셀 사이 간격(행간) 지정*/
    table-layout: fixed; /*table width고정. 전체, 휴가, 출장, 회의 탭마다 테이블 width가 달라짐*/
}


thead {
    color: #fff; /*테이블 구분 글씨색*/
    background-color: #454d55; /*테이블 구분 배경*/
    border-color: #454d55; /*테두리 색 지정*/
}

thead th {
    border: none;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    white-space: nowrap; /* 셀의 내용이 한 줄로 표시되도록 설정 */
    overflow: hidden; /* 셀 내용이 넘칠 경우 숨김 처리 */
    text-overflow: ellipsis; /* 말줄임표(...)로 표시 */
}


tbody th, tbody td {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;   /*상 우 하 좌*/
    font-size: 14px;
    background: #fff;
    text-align: center;
    white-space: nowrap; /* 셀의 내용이 한 줄로 표시되도록 설정 */
    overflow: hidden; /* 셀 내용이 넘칠 경우 숨김 처리 */
    text-overflow: ellipsis; /* 말줄임표(...)로 표시 */
}

.left-line {
    border-left: 1px solid gray;
}

.right-line {
    border-right: 1px solid gray;
}

/*결재 목록 종료*/

/*페이징 숫자 css*/
.pagination {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 5px;
}

.pageNum {
    padding: 0 10px;
}

#nowPage {
    border: 2px solid #454d55;
    color: #454d55;
    font-weight: bold;
    padding: 5px 10px;
}
