/*데이터 입력부*/
#inputData-section{
    display: grid;
    position: relative;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    min-width: 800px;
    height: 100px;
    margin-top: 30px;
    margin-left: 0;
    column-gap: 30px;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px;
}

#viewData-section{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "appForm1"
        "appForm2";
    grid-row-gap: 20px;
    column-gap: 20px;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    min-width: 800px;
    height: 100%;
    border: 1px solid black;
    background-color: #ffffff;
}

.appForm1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    grid-template-areas:
        "appInfo appTitle appConfirm";
    grid-column-gap: 30px;
    grid-area: appForm1;
    align-items: center;
    justify-content : space-around;
}

.appForm2{
    grid-area: appForm2;
    align-items: center;
    justify-content : space-around;
}

.appInfo{
    grid-area: appInfo;
    width: 100%;
}

.appTitle{
    grid-area: appTitle;
    text-align: center;
    width: 100%;
    min-width: 200px;
}

.appConfirm{
    grid-area: appConfirm;
    text-align: center;
    width: 100%;
}

.appData{
    grid-area: appData;
}

.appInfo table{
    width: 100%;
    height: 100%;
}

.appTitle h3{
    font-size: 30px;
}

.appConfirm table{
    width: 100%;
    height: 100%;
}

.appConfirm .column_confirmTitle{
    width: 55px;
    min-width: 55px;
}

.appConfirm .column_manager{
    min-width: 100px;
    height: 35px;
    min-height: 35px;
}

.appConfirm .column_sign{
    height: 80px;
    min-height: 80px;
}

.appConfirm .column_confirmId{
    min-width: 100px;
    height: 35px;
    min-height: 35px;
}

.appData-colspan{
    height: 250px;
}


table{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td, tr{
    border:0.5px solid grey;
    text-align: center;
}

.appInfo .column_appInfoTitle{
    width: 110px;
    min-width: 100px;
    height: 35px;
    min-height: 35px;
}

.appInfo .column_appInfoContent{
    width: 160px;
    min-width: 150px;
    height: 35px;
    min-height: 35px;
}

.appData table{
    width: 100%;
}

.appData .column_narrow, #appData-totalOff, #appData-vacationUsed, #appData-vacationLeft,
#appData-vacationDateCnt, #appData-vacationType{
    width: 100px;
    min-width: 100px;
    height: 35px;
    min-height: 35px;
}


#appData-vacationDate, #appData-date, #appData-place{
    width: 300px;
    height: 35px;
}


/*버튼*/
#dataSubmit-section{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    float: right;
}

#btnSave, #btnDelete{
    color: black;
    background-color:  transparent;
    border: 1px solid #181F42;
    width: 60px;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#btnSave:hover, #btnDelete:hover {
    color: white;
    background-color: #181F42;
}

input[type='date']::-webkit-calendar-picker-indicator, input[type='datetime-local']::-webkit-calendar-picker-indicator {
    cursor: pointer;
}