#fullscreen{
    width: 100vw;
    height: 100vh;
}
#_emt1{
    width: 100%;
    height: 70px;
}
#_emt2{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
#_emt3{
    width: 100px;
    height: 100%;
}
#_emt4{
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
}

#use_screen {
    width: 100%;
    height: 100%;
}

.use_screen_form{
    display: flex;
}
.page-name{
    margin-top: 40px;
    margin-left: 40px;
    font-size: 15px;
    color: grey;
}

.leftSpace, .rightSpace{
    width: 5.5%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.centerSpace{
    width: 89%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*데이터 입력부*/
#inputData-section{
    display: grid;
    position: relative;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    margin-left: 0;
    column-gap: 30px;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px;
    /*border: 1px dotted black;*/
}

.input-place, .input-date, .input-user, .input-text{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    height: 100%;
    width: 100%;
    padding: 5px;
    /*background-color: #ffffff;*/
    /*border: 1px solid black;*/
    text-align: center;
    align-items: center;
    /*line-height: 100%;*/
    justify-content: center;
}
.input-date-form, .input-place-form, .input-user-form, .input-text-form > * {
    text-align: center;
    align-items: center;
    /*line-height: 100%;*/
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

#inputData-section > div > div{
    background-color: #ffffff;
    border: 0.5px solid grey;
    height:30px;
    box-sizing: border-box;
}

.input-date-form {
    display: flex;
    justify-content: space-around;
}

.input-date-form label, .input-date-form p {
    display: inline-block;
}

#input-appContent{
    resize: vertical;
    align-items: center;
    /*width: calc(100% - 2px);*/
    /*height: calc(100% - 2px);*/
    width: 100%;
    height: 100%;
}

/*데이터 표출부*/
#viewData-section{
    display: grid;
    /*grid-template-column: 0.5fr 2fr;*/
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "appForm1"
        "appForm2";
    column-gap: 30px;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: #ffffff;
}
.appForm1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    /*grid-template-column: repeat(3, 1fr);*/
    grid-template-areas:
        "appInfo appTitle appConfirm";
    column-gap: 30px;
    grid-area: appForm1;
    align-items: center;
    justify-content : space-around;
}
.appForm2{
    grid-area: appForm2;
    align-items: center;
    justify-content : space-around;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td, tr{
    border:0.5px solid grey;
    text-align: center;
}

.appInfo{
    grid-area: appInfo;
}

.appTitle{
    grid-area: appTitle;
    text-align: center;
}

.appConfirm{
    grid-area: appConfirm;

}

.appData{
    grid-area: appData;
}

.appData-colspan{
    height: 250px;
}

#dataSubmit-section{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    float: right;
}

#btnSave, #btnDelete{
    background-color: #181F42;
    color: #ffffff;
    border-radius: 3px;
    border: none;
    width: 60px;
    height: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}