#fullscreen{
    width: 100vw;
    height: 100vh;
}
#_emt1{
    width: 100%;
    height: 70px;
}
#_emt2{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
#_emt3{
    width: 80px;
    height: 100%;
}
#_emt4{
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
}
#use_screen::-webkit-scrollbar {
    background-color: #181F42;
    width: 8px;
    height: 0px;
}
#use_screen::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.5);
}

#use_screen::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.5);
}
#use_screen{
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
}
.page-name{
    margin-top: 40px;
    margin-left: 40px;
    font-size: 15px;
    color: grey;
}
#sub_title{
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 15px;
    color: grey;
}