*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    width: 100vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    overflow-y: auto;
}
body::-webkit-scrollbar {
    background-color: #181F42;
    width: 8px;
    height: 0px;
}
body::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.5);
}

body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.5);
}
#logout_text{
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    color: black;
}
#logout_text:focus {
    outline: none;
}
/*------------------------------------*/
#header_cols{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 100000000;
}
#nav_cols{
    width: 100%;
    height: 100%;
}
#ul_cols{
    width: 100%;
    height: 100%;
    background-color: #181F42;
    border: 0px solid lightgray;
    border-bottom-width: 1px;
    display: flex;
    list-style: none;
}
#emt_li{
    height: 100%;
    width: calc(50% - 111.5px);
}
#logo_li{
    width: 223px;
    height: 100%;
    display: flex;
}
#logo_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo_img{
    width: 130px;
    height: 35px;
}
#my_li{
    width: calc(50% - 111.5px);
    height: 100%;
}

#my_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
#my_div_2{
    width: 120px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}
#my_div_3{
    width: 50px;
}
.nav_div{
    width: 18px;
    height: 70px;
    margin-left: 5px;
}
#nav_img_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#nav_img{
    width: 100%;
    height: 18px;
}
.submenu {
    content: "";
    position: relative;
    bottom: 15px;
    left: -80px;
    width: 100px;
    height: 100px;
    background-color:white;
    border: 1px solid lightgray;
    transform: scaleY(0);
    transform-origin: top center;
    display: block;
    justify-content: center;
}
.submenu_item{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.menu_text_user{
    text-decoration: none;
    color: black;
    font-size: 13px;
    text-align: center;
}
.menu_text_div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s ease-in-out;
}
.menu_text_div:hover{
    background-color: rgb(231, 231, 231);
}
#my_div_2:hover .submenu {
    display: block;
    transform: scaleY(1);
    transition: transform 0.4s ease-out;
}

h6{
    width: 80px;
    font-size: 16px;
    text-align: center;
    color: white;
}
a {
    color: inherit;   	    /* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none;
}
@media (max-width: 1380px) {
    #header_cols{
        width: 1380px;
    }
}