*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    width: 100vw;
    background-color: whitesmoke;
    overflow-x: hidden;
}
#logout_text{
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    color: black;
}
#logout_text:focus {
    outline: none;
}
/*------------------------------------*/
#header_cols{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 2;
}
#nav_cols{
    width: 100%;
    height: 100%;
}
#ul_cols{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0px solid lightgray;
    border-bottom-width: 1px;
    display: flex;
    list-style: none;
}
#emt_li{
    height: 100%;
    width: calc(50% - 111.5px);
}
#logo_li{
    width: 223px;
    height: 100%;
    display: flex;
}
#logo_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo_img{
    margin-top: 5px;
    width: 130px;
    height: 45px;
}
#my_li{
    width: calc(50% - 111.5px);
    height: 100%;
}
#my_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
#my_div_2{
    width: 120px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.nav_div{
    width: 18px;
    height: 70px;
    margin-left: 5px;
}
#nav_img_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#nav_img{
    width: 100%;
    height: 18px;
}
.submenu {
    content: "";
    position: relative;
    bottom: 15px;
    left: -80px;
    width: 100px;
    height: 100px;
    background-color:white;
    border: 1px solid lightgray;
    transform: scaleY(0);
    transform-origin: top center;
    display: block;
    justify-content: center;
}
.submenu_item{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.menu_text_user{
    text-decoration: none;
    color: black;
    font-size: 13px;
    text-align: center;
}
.menu_text_div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_text_div:hover{
    background-color: rgb(231, 231, 231);
}
.nav_div:hover .submenu {
    display: block;
    transform: scaleY(1);
    transition: transform 0.3s ease-out;
}




h6{
    width: 65px;
    font-size: 16px;
    text-align: center;
}
a {
    color: inherit;   	    /* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none;
}
/* 커스텀 시작 */
.side-bar > ul ul {
    display: none;
}


/* 사이드바의 너비와 높이를 변수를 통해 통제 */
:root {
    --side-bar-width: 270px;
    --side-bar-height: calc(100vh - 70px);
}

.side-bar {
    z-index: 100;
    position: fixed;    /* 스크롤을 따라오도록 지정 */
    left: 0;
    bottom: 0;
    background-color: #181F42;
    width: var(--side-bar-width);
    height: calc(100vh - 70px);   /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
    margin-top: calc((100vh - var(--side-bar-height)) / 2);    /* 사이드바 위와 아래의 마진을 동일하게 지정 */
}

/* 아이콘 시작 */
.side-bar__icon-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
}

.side-bar__icon-1 {
    position: relative;
    width: 23px;
    height: 17px;
    margin: 20px 15px 15px;
    transition: .5s;
}

:root {
    --side-bar__icon: .5s;
}

.side-bar__icon-1 > div {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: white;
    transition: all var(--side-bar__icon);
}

.side-bar__icon-1 > div:nth-of-type(1) {
    top: 0;
    width: auto;
    left: 0;
    right: 0;
    transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), right calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), height calc(var(--side-bar__icon) / 2) 0s;
}

.side-bar__icon-1 > div:nth-of-type(2) {
    top: 40%;
    transform-origin:bottom left;
}

.side-bar__icon-1 > div:nth-of-type(3) {
    top: 80%;
    left: auto;
    right: 0;
    transform-origin:bottom right;
}


.side-bar:hover .side-bar__icon-1 {
    transform: translate(-178px, 0);
}

.side-bar:hover .side-bar__icon-1 > div:nth-of-type(2) {
    transform:rotate(45deg);
    width: 70.5%;
    height: 25%;
}

.side-bar:hover .side-bar__icon-1 > div:nth-of-type(3) {
    top: 40%;
    transform:rotate(-45deg);
    width: 70.5%;
    height: 25%;
}

.side-bar:hover .side-bar__icon-1 > div:nth-of-type(1) {
    left: 41%;
    right: 41%;
    height: 100%;
    transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) 0s, right calc(var(--side-bar__icon) / 2) 0s, height calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2);
}
/* 아이콘 끝 */
.menu_li{
    background-color: #181F42;
}
.menu_li:hover{
    background-color: #2c3b62;
}
.menu_a:focus{
    outline: none;
}

/* 모든 메뉴의 a에 속성값 부여 */
.side-bar ul > li > a {
    display: block;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    transition: .5s;
}
.menu_text{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 0px !important;
    text-align: center;
    color: rgb(240,240,240) !important;
    font-size: 13px !important;
}

/* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
.side-bar > ul > li {
    position: relative;
}

/* 모든 메뉴가 마우스 인식 시 반응 */
.side-bar ul > li:hover > a {
    background-color:rgba(24, 31, 66, 0.3);
}

/* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 */
.side-bar > ul > li:hover > ul {
    display: block;
    position: absolute;
    background-color:rgba(24, 31, 66, 0.9);
    top: 0;         /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
    left: 100%;     /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
    width: 80%;    /* 1차 메뉴의 너비를 상속 */
}
.menu_li_li:hover {
    background-color: #2c3b62;
}

/* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
.side-bar {
    border-radius: 0px;
    transform: translate(calc(var(--side-bar-width) * -0.7), 0);
    transition: transform 0.5s;
}

/* 마우스 인식 시 원래의 위치로 이동 */
.side-bar:hover {
    transform: translate(-20px, 0);   /* 둥근 모서리의 너비만큼 숨겨주기 */

}
/* 사이드바 끝 */

/* 커스텀 끝 */

