#fullscreen {
    width: 100vw;
    height: 100vh;
}

#_emt1 {
    width: 100%;
    height: 70px;
}

#_emt2 {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}

#_emt3 {
    width: 80px;
    height: 100%;
}

#_emt4 {
    width: calc(100% - 80px);
    display: flex;
}
#div1290{
    display: flex;
    width: 100%;
}

#emt5 {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.section_1 {
    width: 100%;
    height: 100%;
}

.swiper-container {
    height: 100%;
}

.swiper-slide {
    overflow: hidden;
    width: 100%;
    position: absolute;
}

.slide01 {
    width: 100%;
    height: 100%;
}

#sl1 {
    width: 100%;
    height: 100%;
    display: flex;
}

#img_sl {
    width: 100%;
    height: 100%;
    background-color: #181F42;
}

.slide02 {
    width: 100%;
    height: 100%
}

.slide03 {
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

.slide04 {
    width: 100%;
    height: 100%;
    display: flex;
}

.swiper-pagination .swiper-pagination-bullet {
    background: #181F42; /* 원하는 색상으로 변경하세요. 여기서는 붉은색으로 설정했습니다. */
}

.shadow {
    width: 100%;
    height: 100%;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.com_title {
    width: 100%;
    height: 35px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_1 {
    width: 40%;
    height: 100%;
}

.title_2 {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_3 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.btn_more{
    margin-top: 5px;
    margin-right: 10px;
    background-color: #181F42;
    color: white;
    outline: none;
    border: 0px;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    width: 60px;
    display: none;
}
.btn_more:hover{
    background-color: #253170;
    cursor: pointer;
}

.title_text {
    font-size: 13px;
    color: black;
}

.more_text {
    font-size: 10px;
    color: black;
    margin-right: 15px;
    margin-top: 5px;
    font-weight: bold;
}

.com_content {
    width: 100%;
    height: calc(100% - 35px);
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#com_content_on_off {
    width: 100%;
    height: calc(100% - 35px);
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

.a_screen1 {
    width: 3%;
    height: 100%;
}

#a_screen2 {
    width: 94%;
    height: 100%;
}

#b_screen {
    width: 100%;
    height: 55%;
    display: flex;
    padding: 0px;
}

#b_screen_1 {
    width: 450px;
    height: 100%;
}

#b_screen_1_1 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 25px 20px 20px 25px;
}

#b_screen_1_1_1 {
    width: 100%;
    height: 15%;
    background-color: #181F42;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#b_screen_1_1_2 {
    width: 100%;
    height: 85%;
}

#user_on_off_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#usertable {
    font-size: 13px;
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

#usertable td{
    border: 1px solid darkgray;
    border-left-width: 0px;
    border-bottom-width: 0px;

}

#img_td {
    width: 35%;
    height: 36%;
}

#user_img_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#user_img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.userinfo_div_th {
    height: 12%;
    width: 25%;
    background-color: #4c4c4c;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.userinfo_div_td {
    width: 40%;
    background-color: white;
    color: #4c4c4c;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.on_off_div {
    width: 100%;
    height: 16%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border: none !important;
}

.on_off_btn_div1 {
    width: 100%;
    height: 100%;
    padding: 10px 7px 0px;
    box-sizing: border-box;
}

.on_off_btn_div2 {
    width: 100%;
    height: 100%;
}

.onoff_btn {
    width: 100%;
    height: 100%;
    font-weight: bold;
    margin-right: 15px;
    background: #181F42;
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid #181F42;
}

.onoff_btn:hover {
    background: #253170;
    border: 1px solid #253170;
}

.onoff_btn:disabled {
    background: #e3e3e3;
    color: gray;
    outline: none;
    border: 0px;
}

#on_text {
    color: #4c4c4c;
    border: 0px !important;
}

#off_text {
    color: #4c4c4c;
    border: 0px !important;
}

#b_screen_1_2 {
    width: 100%;
    height: 50%;
    padding: 0px 20px 20px 25px;
    box-sizing: border-box;
}

#b_screen_1_2_1 {
    width: 100%;
    height: 100%;
    background-color: #4c4c4c;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#on_off_check {
    width: 100%;
    height: 100%;
    background-color: #6c6c6c;
    border-radius: 5px;
    overflow: auto;
    padding-top: 7px;
}

#onoff-grid-container {
    display: grid;
    grid: '.';
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-row-gap: 0px;
}

.item {
    padding: 0px 7px 7px;
    box-sizing: border-box;
}

#on_off_check::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

#on_off_check::-webkit-scrollbar-thumb {
    background: rgb(240, 240, 240, 0.5);
    border-radius: 10px;
}

#on_off_check::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
}

.onoff_table {
    width: 100%;
    height: 50px;
    background-color: #e3e3e3;
    border-radius: 5px;
    color: black;
}

.img_td {
    width: 60px;
    height: 60px;
}

.img_td_div {
    width: 60px;
    height: 60px;
}

.img_list {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.name_list {
    font-size: 15px;
    text-align: center;
    width: calc(100% - 160px);
}

.name_list2 {
    font-size: 12px;
    text-align: center;
    width: 50px;
}

.cno_list {
    font-size: 15px;
    text-align: center;
}

.on_div {
    width: 100%;
    height: 100%;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.on_img {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid gray;
}

.off_div {
    width: 100%;
    height: 100%;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.off_img {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid gray;
}

#b_screen_2 {
    width: 350px;
    height: 100%;
    padding: 25px 0px 20px;
    box-sizing: border-box;
}

#b_screen_2_1 {
    width: 100%;
    height: 100%;
}

#chart_btn {
    width: 100%;
    height: 50px;
    display: flex;
}

#chart_btn1 {
    width: 70%;
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
}

#chart_title {
    margin-top: 20px;
    margin-left: 35px;
    font-size: 18px;
    font-weight: bold;
}

#chart_btn2 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

#changeChart {
    width: 70%;
    height: 30px;
    background-color: #181F42;
    border-radius: 20px;
    color: white;
    border: none;
}

#changeChart:hover {
    cursor: pointer;
    font-weight: bold;
}

#chart_div {
    width: 100%;
    height: calc(100% - 50px);
}

#chart_div #main {
    width: 100%;
    height: 100%;
}

#hoverInfo {
    position: absolute;
    display: none;
    background: white;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}

.chart {
    float: left;
    width: 33.33%;
    height: 230px;
    text-align: center;
}

.chart span.title {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    top: 110px;
}

#b_screen_3 {
    width: calc(100% - 800px);
    height: 100%;
    padding: 25px 25px 20px 20px;
    box-sizing: border-box;
}
#cal_title{
    background-color: #181F42;
}
#cal_text{
    color: white;
}
#calendar_div {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
}

#cal_btn_div {
    width: 6%;
    height: 100%;
}

.cal_btn {
    border: 1px solid white;
    width: 100%;
    height: 25%;
    font-size: 13px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
}

.cal_btn:hover {
    color: #4c4c4c;
    background-color: #e3e3e3;
}

.cal_btn:focus {
    outline: none;
}

.cal_btn:active {
    background-color: white;
}

#cal_div {
    width: 94%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#c_screen {
    width: 100%;
    height: 45%;
    display: flex;
    padding: 0;
}

#d_screen {
    width: 450px;
    height: 100%;
    padding: 0px 20px 25px 25px;
    box-sizing: border-box;
}

#notic_image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#e_f_screen{
    width: calc(100% - 450px);
    height: 100%;
    display: flex;
}
#e_screen {
    width: 50%;
    height: 100%;
    padding: 0px 20px 25px 0px;
    box-sizing: border-box;
}

#f_screen {
    width: 50%;
    height: 100%;
    padding: 0px 25px 25px 0px;
    box-sizing: border-box;
}

.board {
    width: 100%;
    height: 100%;
    padding: 7px;
    box-sizing: border-box;
}

#notice_div {
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
    border-radius: 5px;
    padding-top: 1px;
    overflow: auto;
}

#notice_div::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

#notice_div::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150, 0.5);
    border-radius: 10px;
}

#notice_div::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
}

#notice-grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid: '.';
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-row-gap: 0px;
    padding: 7px;
    box-sizing: border-box;
}

.notice_item {
    height: 150px;
    margin-bottom: 7px;
}

.notice_table {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    color: #4c4c4c;
    border: 1px solid darkgray;
    margin-bottom: 7px;
    font-size: 13px;
}

.notice_table:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.notice_table td {
    /*border: 1px solid black;*/
}

.notice_td {
    width: 20%;
    height: 30%;
}

.notice_td_div {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.notice_type {
    width: 45px;
    height: 25px;
    background-color: #181F42;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.notice_title_td {
    font-size: 14px;
    text-align: left;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice_writer_cnt_td {
    width: 8%;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice_writer_cnt_td2 {
    width: 5%;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#bcnt {
    width: 6%;
}

.notice_img_div {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.notice_img_div2 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.img {
    width: 100px;
    height: 80px;
    border-radius: 5px;
}
.notice_content_div {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.notice_content_div2 {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: left;

    position: relative;
    line-height: 1em;
    max-height: 6em;
    overflow: hidden;
}

.notice_content_div2 span {
    display: inline-block;
}

body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sl {
    width: 100%;
    height: 100%;
    background-color: #4c4c4c;

}

.slider-2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider-2 .slides > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    /* 이미지를 최대한 안짤리게 한다. */
    background-size: cover;
    /* 배경 반복 금지 */
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 5px;
}

.slider-2 .slides > div.active {
    opacity: 1;
}

@media ( max-width: 700px ) {
    .slider-2 {
        height: 300px;
    }
}

.slider-2 .page-nav {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
}

.slider-2 .page-nav > div {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
}

.slider-2 .page-nav > div.active {
    background-color: #181F42;
}

.slider-2 > .side-btns > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.slider-2 > .side-btns > div > span:active {
    transform: translatey(-40%);
}

.slider-2 > .side-btns > div:last-child {
    left: auto;
    right: 0;
}

.slider-2 > .side-btns > div > span {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: inherit;
    right: inherit;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    margin: 0 10px;
}

.slider-2 > .side-btns > div > span > i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    color: rgba(150, 150, 150, 0.4);
    transform: translateX(-70%) translateY(-50%);
}

.slider-2 > .side-btns > div:last-child > span > i {
    transform: translateX(-20%) translateY(-50%);
}

.active {
    border-radius: 5px;
}

.active_a {
    border-radius: 5px;
}

/* 슬라이드 버튼 끝 */

#calendar {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 1px;
    width: 98%;
    height: 98%;
    background-color: white;
}

.fc-day-sun a {
    color: darkred;
    text-decoration: none;
}

.fc-day-sun {
    background-color: rgba(24, 31, 66, 0.04);
}

.fc-day-sat {
    background-color: rgba(24, 31, 66, 0.04);
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
    color: darkblue;
    text-decoration: none;
}

.fc-header-toolbar {
    font-size: 7px;
    font-family: 'Gowun Dodum', sans-serif;
}

.fc-header-toolbar .fc-prev-button,
.fc-header-toolbar .fc-next-button,
.fc-header-toolbar .fc-today-button {
    width: 40px;
    background-color: #181F42;
    color: white;
    font-size: 7px;
    border: 1px solid gray;
}

.fc-header-toolbar .fc-prev-button:hover,
.fc-header-toolbar .fc-next-button:hover,
.fc-header-toolbar .fc-today-button:hover {
    width: 40px;
    background-color: #253170;
    color: white;
    font-size: 7px;
    border: 1px solid gray;
}

.fc-header-toolbar .fc-prev-button:focus,
.fc-header-toolbar .fc-next-button:focus,
.fc-header-toolbar .fc-today-button:focus {
    border: 1px solid gray;
    outline: none;
    box-shadow: none;
}

.fc-header-toolbar .fc-prev-button:active,
.fc-header-toolbar .fc-next-button:active,
.fc-header-toolbar .fc-today-button:active {
    background-color: #253170 !important;
    box-shadow: none !important;
    color: white !important;
    border: 1px solid gray !important;
}

.fc-header-toolbar .fc-today-button:disabled {
    width: 40px;
    background-color: #8c8c8c;
    color: black;
    border: 1px solid gray;
}

.fc-header-toolbar .fc-today-button:disabled:active {
    width: 40px;
    background-color: #8c8c8c !important;
    color: black !important;
    border: 1px solid gray !important;
}

.fc-scroller::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.popup_layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup_box {
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    overflow: auto;
    height: 400px;
    width: 375px;
    z-index: 30;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: slideUp 0.2s ease-out 0.1s forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.popup_cont {
    width: 100%;
    height: 100%;
    background-color: white;
}

.popup_cont_1 {
    width: 100%;
    height: 15%;
}

.popup_cont_2 {
    width: 100%;
    height: 5%;
}

.popup_cont_3 {
    width: 100%;
    height: 80%;
    background-color: #4c4c4c;
}

#popup_vacationtype_div {
    background-color: beige;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
    font-size: 10px;
    font-family: 'Gowun Dodum', sans-serif;
    display: none;
}

#popup_title_div {
    width: 100%;
    height: 93%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#popup_title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gowun Dodum', sans-serif;
    text-align: center;
}

#popup_date_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup_date {
    font-size: 13px;
    font-family: 'Gowun Dodum', sans-serif;
}

.popup_desc_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    background-color: whitesmoke;
}

#popup_desc {
    margin-left: 15px;
    font-size: 15px;
}

/*오버레이 뒷배경*/
.popup_overlay {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1001;;
    background: rgba(0, 0, 0, 0.5);
}

.tooltip {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 10px; /* 폰트 크기를 줄이세요. */
}
#div1200{
    display: none;
}
#h_screen{
    display: none;
}

.onoff-content {
    transition: transform 0.5s ease-out;
    position: relative;
    left: -100%; /* 화면 왼쪽에 숨겨진 상태로 시작 */
}
/*반응형*/
@media (min-width: 1290px) and (max-height: 900px) {
    #_emt4 {
        overflow: auto;
    }
    #div1290{
        height: 830px;
    }
    #_emt4::-webkit-scrollbar {
        background-color: #181F42;
        width: 8px;
        height: 0px;
    }
    #_emt4::-webkit-scrollbar-thumb {
        background: rgb(255, 255, 255, 0.5);
    }

    #_emt4::-webkit-scrollbar-track {
        background: rgb(255, 255, 255, 0.5);
    }
}
@media (max-width: 1600px) {
    #e_f_screen{
        width: calc(100% - 430px);
        height: 100%;
        display: flex;
    }
    #e_screen {
        width: 50%;
        height: 100%;
        padding-right: 10px;
        padding-top: 0px;
        padding-left: 20px;
        box-sizing: border-box;
    }
    #f_screen {
        width: 50%;
        height: 100%;
        padding-right: 25px;
        padding-top: 0px;
        padding-left: 10px;
        box-sizing: border-box;
    }
    #d_screen #onoff_shw {
        display: none;
    }
    #b_screen_2 {
        display: none;
    }
    #d_screen {
        width: 430px;
        height: 100%;
        padding-right: 0px;
        padding-top: 0px;
        padding-left: 25px;
    }
    #b_screen_1 {
        width: 430px;
    }
    #b_screen_1_1 {
        padding: 25px 0px 20px 25px;
        box-sizing: border-box;
    }
    #b_screen_3 {
        width: calc(100% - 430px);
    }
    .btn_more{
        display: block;
    }
}

@media (max-width: 1470px) {
    .notice_item {
        height: 50px;
        margin-bottom: 7px;
    }

    .notice_table {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 5px;
        color: #4c4c4c;
        border: 1px solid darkgray;
        margin-bottom: 7px;
        font-size: 13px;
    }

    .tr1410 {
        display: none;
    }
    .notice_writer_cnt_td {
        width: 8%;
        zoom: 0.9;
    }

    .notice_writer_cnt_td2 {
        width: 5%;
        zoom: 0.9;
    }
    .notice_title_td {
        font-size: 12px;
    }
}
@media (max-width: 1290px) {
    #_emt4 {
        overflow: auto;
    }
    #div1290{
        display: none;
    }
    #b_screen {
        height: 500px;
    }
    #c_screen {
        height: 500px;
    }
    #h_screen{
        display: flex;
        width: 100%;
        height: 400px;
    }
    #h_screen_1{
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        padding: 0px 10px 25px 50px;
    }
    #h_screen_2{
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        padding: 0px 50px 25px 10px;
    }
    #div1200{
        display: flex;
        width: 100%;
        height: 1400px;
    }
    #_emt4::-webkit-scrollbar {
        background-color: #181F42;
        width: 8px;
        height: 0px;
    }
    #_emt4::-webkit-scrollbar-thumb {
        background: rgb(255, 255, 255, 0.5);
    }

    #_emt4::-webkit-scrollbar-track {
        background: rgb(255, 255, 255, 0.5);
    }
    .a_screen1 {
        width: 6%;
        height: 100%;
    }

    #a_screen2 {
        width: 88%;
        height: 100%;
    }

    #b_screen_1 {
        width: 50%;
        height: 500px;
    }
    #b_screen_1_1 {
        width: 100%;
        box-sizing: border-box;
        padding: 25px 10px 20px 50px;
        /*상 우 하 좌*/
    }
    #d_screen {
        width: 100%;
        height: 100%;
        padding: 0px 50px 20px;
    }

    #b_screen_3 {
        width: 50%;
        height: 500px;
        padding: 25px 50px 20px 10px;
        box-sizing: border-box;
    }
    #e_f_screen{
        display: none;
    }
    #cal_title{
        background-color: white;
    }
    #cal_text{
        color: black;
    }
    @media (max-width: 980px) {
        #_emt2{
            width: 980px;
        }
    }
}
