#fullscreen{
    width: 100vw;
    height: 100vh;
}
#_emt1{
    width: 100%;
    height: 70px;
}
#_emt2{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
#_emt3{
    width: 100px;
    height: 100%;
}
#_emt4{
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
}
#shadow{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px 1px lightgray;
}
#com_title{
    width: 100%;
    height: 35px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title_text{
    font-size: 13px;
    color: black;
}
#com_content{
    width: 100%;
    height: calc(100% - 35px);
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#com_content_on_off{
    width: 100%;
    height: calc(100% - 35px);
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}
.a_screen1{
    width: 5.5%;
    height: 100%;
}
#a_screen2{
    width: 89%;
    height: 100%;
}
#a_screen3{
    width: 5.5%;
    height: 100%;
}
#b_screen{
    width: 100%;
    height: 55%;
    display: flex;
    padding: 0px;
}
#b_screen_1{
    width: 25%;
    height: 100%;
}
#b_screen_1_1{
    width: 100%;
    height: 50%;
    padding: 25px;
    box-sizing: border-box;
}
#b_screen_1_1_1{
    width: 100%;
    height: 15%;
    background-color: #181F42;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#b_screen_1_1_2{
    width: 100%;
    height: 85%;
}
#user_on_off_div{
    width: 100%;
    height: 100%;
    display: flex;
}
#user_img_div{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user_img{
    width: 90%;
    height: 93%;
    border-radius: 100%;
}
#on_off_div{
    width: 60%;
    height: 100%;
}
#on_div{
    width: 100%;
    height: 50%;
}
#off_div{
    width: 100%;
    height: 50%;
}
#on_button_div{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#on{
    width: 30%;
    height: 80%;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
}
#on_time_div{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#off_button_div{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#off{
    width: 30%;
    height: 80%;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
}
#off_time_div{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#b_screen_1_2{
    width: 100%;
    height: 50%;
    padding: 0px 25px 25px;
    box-sizing: border-box;
}
#b_screen_1_2_1{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
#on_off_check{
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
    border-radius: 5px;
    overflow: auto;
    padding-top: 7px;
}
.onoff-grid-container {
    display: grid;
    grid: '.';
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-row-gap: 0px;
}
.item {
    padding: 0px 7px 7px;
    box-sizing: border-box;
}
.img_list{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#on_off_check::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

#on_off_check::-webkit-scrollbar-thumb {
    background:rgb(255,255,255,0.5);
    border-radius: 10px;
}

#on_off_check::-webkit-scrollbar-track {
    background:rgb(255,255,255,0.2);
    border-radius: 10px;
}
.onoff_table{
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 5px;
}
.img_td{
    width: 50px;
    height: 50px;
}
.img_td_div{
    width: 100%;
    height: 100%;
}
.name_list{
    font-size: 15px;
    text-align: center;
    width: calc(100% - 190px);
}
.name_list2{
    font-size: 15px;
    text-align: center;
    width: 70px;
}
.cno_list{
    font-size: 15px;
    text-align: center;
}
.on_div{
    width: 100%;
    height: 100%;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.on_img{
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.off_div{
    width: 100%;
    height: 100%;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.off_img{
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
#b_screen_2{
    width: 25%;
    height: 100%;
    padding: 25px 0px;
    box-sizing: border-box;
}
#b_screen_2_1{
    width: 100%;
    height: 100%;
}
#chart_btn{
    width: 100%;
    height: 50px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}
#changeChart{
    width: 80px;
    height: 30px;
    background-color: #181F42;
    border-radius: 20px;
    color: white;
    border: none;
    margin-right: 40px;
    margin-top: 20px;
}
#changeChart:hover{
    cursor: pointer;
    font-weight: bold;
}
#main{
    width: 100%;
    height: calc(100% - 50px);
}
.chart {
    float: left;
    width: 33.33%;
    height: 230px;
    text-align: center;
}
.chart span.title{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    top: 110px;
}
#b_screen_3{
    width: 50%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
}
#calendar_div{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
}
#cal_btn_div{
    width: 6%;
    height: 100%;
}
.cal_btn{
    border: 1px solid white;
    width: 100%;
    height: 25%;
    font-size: 15px;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
    background-color: white;
    cursor: pointer;
}
.cal_btn:hover{
    color: #4c4c4c;
}
.cal_btn:focus{
    outline: none;
}
#cal_div{
    width: 94%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#c_screen{
    width: 100%;
    height: 45%;
    display: flex;
    padding: 0;
}
#d_screen{
    width: 40%;
    height: 100%;
}
#d_screen_1{
    width: 100%;
    height: 100%;
    padding: 0px 25px 25px;
    box-sizing: border-box;
}
#notic_image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #253170;
}
#e_screen{
    width: 60%;
    height: 100%;
}

body, ul, li {
    margin:0;
    padding:0;
    list-style:none;
}
.sl{
    width: 100%;
    height: 100%;
    background-color: #4c4c4c;

}
.slider-2 {
    width:100%;
    height: 100%;
    position: relative;
}

.slider-2 .slides > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-position:center;
    /* 이미지를 최대한 안짤리게 한다. */
    background-size:cover;
    /* 배경 반복 금지 */
    background-repeat:no-repeat;
    opacity:0;
    transition: opacity 0.5s;
    border-radius: 5px;
}

.slider-2 .slides > div.active {
    opacity:1;
}
@media ( max-width:700px ) {
    .slider-2 {
        height:300px;
    }
}

.slider-2 .page-nav {
    position:absolute;
    width:100%;
    text-align:center;
    bottom:0;
    left:0;
}

.slider-2 .page-nav > div {
    display:inline-block;
    width:15px;
    height:15px;
    background-color:rgba(0,0,0,0.5);
    border-radius:5px;
    cursor:pointer;
}

.slider-2 .page-nav > div.active {
    background-color:#181F42;
}

.slider-2>.side-btns>div{
    position:absolute;
    top:0;
    left:0;
    width:30%;
    height:100%;
    cursor:pointer;
    z-index:1;
}

.slider-2>.side-btns>div>span:active{
    transform:translatey(-40%);
}
.slider-2>.side-btns>div:last-child{
    left:auto;
    right:0;
}

.slider-2>.side-btns>div>span{
    position:absolute;
    top:50%;
    transform:translatey(-50%);
    left:inherit;
    right:inherit;
    width:70px;
    height:70px;
    background-color:rgba(0,0,0,0.4);
    border-radius:100%;
    margin:0 10px;
}
.slider-2>.side-btns>div>span > i{
    position:absolute;
    top:50%;
    left:50%;
    font-size:3rem;
    color:rgba(150,150,150,0.4);
    transform:translateX(-70%) translateY(-50%);
}

.slider-2>.side-btns>div:last-child>span > i {
    transform:translateX(-20%) translateY(-50%);
}
.active{
    border-radius: 5px;
}
.active_a{
    border-radius: 5px;
}

/* 슬라이드 버튼 끝 */



#circle_vacation{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: #008000;
    margin : auto;
}
#circle_meeting{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: orange;
    margin : auto;
}#circle_business{
     border-radius: 100%;
     width: 10px;
     height: 10px;
     background-color: indianred;
     margin : auto;
 }


#calendar{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 1px;
    width: 98%;
    height: 98%;
    background-color: white;
}
.fc-day-sun a {
    color: indianred;
    text-decoration: none;
}
.fc-day-sun{
    background-color: floralwhite;
}
.fc-day-sat{
    background-color: floralwhite;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
    color: dodgerblue;
    text-decoration: none;
}
.fc-header-toolbar{
    font-size: 7px;
    font-family: 'Gowun Dodum', sans-serif;
}
.fc-header-toolbar .fc-prev-button,
.fc-header-toolbar .fc-next-button,
.fc-header-toolbar .fc-today-button {
    width: 40px;
    background-color: #181F42;
    color: white;
    font-size: 7px;
    border: 1px solid gray;
}
.fc-header-toolbar .fc-prev-button:hover,
.fc-header-toolbar .fc-next-button:hover,
.fc-header-toolbar .fc-today-button:hover{
    width: 40px;
    background-color: #253170;
    color: white;
    font-size: 7px;
    border: 1px solid gray;
}
.fc-header-toolbar .fc-prev-button:focus,
.fc-header-toolbar .fc-next-button:focus,
.fc-header-toolbar .fc-today-button:focus{
    border: 1px solid gray;
    outline: none;
    box-shadow: none;
}
.fc-header-toolbar .fc-prev-button:active,
.fc-header-toolbar .fc-next-button:active,
.fc-header-toolbar .fc-today-button:active {
    background-color: #253170 !important;
    box-shadow: none !important;
    color: white !important;
    border: 1px solid gray !important;
}
.fc-header-toolbar .fc-today-button:disabled{
    width: 40px;
    background-color: #8c8c8c;
    color: black;
    border: 1px solid gray;
}
.fc-header-toolbar .fc-today-button:disabled:active{
    width: 40px;
    background-color: #8c8c8c !important;
    color: black !important;
    border: 1px solid gray !important;
}
.fc-scroller::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.popup_layer {
    position:fixed;
    top:0;
    left:0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.popup_box{
    border-radius: 5px;
    position: relative;
    top:50%;
    left:50%;
    overflow: auto;
    height: 300px;
    width:375px;
    z-index:1002;box-sizing:border-box;
    background:#fff;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform:translate(-50%, -50%);
    animation: slideUp 0.2s ease-out 0.1s forwards;
}
@keyframes slideUp {
    from {
        opacity: 0;
        transform:translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform:translate(-50%, -50%);
    }
}
.popup_cont {
    width: 90%;
    height: 94%;
    background-color: white;
}
#popup_vacationtype_div{
    background-color: white;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
    font-size: 10px;
    font-family: 'Gowun Dodum', sans-serif;
    display: none;
}

#popup_title_div{
    width: 100%;
    height: 11%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#popup_title{
    font-size: 20px;
    font-family: 'Gowun Dodum', sans-serif;
    text-align: center;
}
#popup_date_div{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#popup_date{
    font-size: 13px;
    font-family: 'Gowun Dodum', sans-serif;
}
#popup_desc_div{
    margin-top: 10px;
    width: 100%;
    height: 64%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    background-color: whitesmoke;
}
#popup_desc{
    margin-left: 15px;
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;
}
/*오버레이 뒷배경*/
.popup_overlay{position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);}
