#fullscreen {
    width: 100vw;
    height: 100vh;
}

#_emt1 {
    width: 100%;
    height: 70px;
}

#_emt2 {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}

#_emt3 {
    width: 80px;
    height: 100%;
}

#_emt4 {
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
}

#use_screen {
    width: 100%;
    height: 100%;
}

.page-name {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 15px;
    color: grey;
}

@media (min-width: 1542px) {
    .myPage {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .mypage-title {
        font-size: 15px;
        color: #949393;
        position: absolute;
        margin-left: 40px;
        margin-top: 40px;
    }

    .profile-card {
        position: relative;
        width: 350px;
        height: 100%;
        left: 10vw;
        background-color: #fff;
        box-shadow: 5px 1px 8px 0 rgba(0, 0, 0, .06);
        border-left: 1px solid rgba(0, 0, 0, .08);
    }

    #img_div {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-imagespace {
        width: 120px;
        height: 160px;
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
    }

    #profile-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    #pwd_div {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer_div {
        width: 100%;
        height: calc(100% - 500px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mini_pwChange {
        display: none;
    }

    ul {
        list-style: none;
    }

    .changeLink {
        font-size: 1.3rem;
        font-weight: lighter;
        color: black;
        line-height: 4;
        padding: 30px;
    }

    .footer_line {
        width: 200px;
        color: #4c4c4c;
    }

    .left_guide {
        margin-top: 15%;
        margin-left: 50px;
    }

    .help {
        margin-right: 20px;
    }

    .help, .customer_center {
        float: left;
        font-size: 0.8rem;
        color: #4c4c4c;
    }

    .profile-card2{
        width: 700px;
        height: 100%;
        position: relative;
        left: 20vw;
    }
    #profile_card_3{
        width: 100%;
        height: 40%;
        padding: 20px;
        box-sizing: border-box;
    }
    #profile_card_4{
        width: 100%;
        height: 60%;
        padding: 0px 20px 20px;
        box-sizing: border-box;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .mini_update {
        display: none;
    }

    .profile1 {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border: 1px solid darkgray;
        border-radius: 5px;
        padding: 15px 30px;
        box-sizing: border-box;
    }

    .profile2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        background-color: #ffffff;
        border: 1px solid darkgray;
        border-radius: 5px;
        padding: 15px 30px;
        box-sizing: border-box;
    }

    ul, li {
        list-style: none;
    }


    .basic-info {
        font-size: 14px;
        color: #949393;
    }

    .profile1-table {
        width: 100%;
        height: 95%;
        border: none;
        border-spacing: 10px;
        vertical-align: top;
    }

    .profile-imageR {
        width: 45px;
        height: 45px;
    }

    .name {
        font-weight: bold;
        font-size: 30px;
    }

    tr > .name {
        height: 10%;
    }

    .mini-email {
        font-size: 13px;
        color: #949393;
        line-height: 13px;
    }

    .tel, .address {
        font-size: 15px;
        line-height: 20px;
    }


    .profile2-table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: none;
        font-size: 16px;
    }

    .col1, .col2, .tel, .address {
        border-bottom: 0.2px solid #949393;
    }

    .col1 {
        width: 30%;
        color: #949393;
    }
}

@media screen and (max-width: 1541px) {
    .mypage-title {
        display: none;
    }


    .profile-card {
        z-index: 30;
    }

    .myPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 35px;
        position: absolute;
        width: 600px;
        height: 850px;
        background-color: white;
        box-shadow: 5px 1px 8px 0 rgba(0, 0, 0, .06);
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .changeLink, .pwChangeLink {
        display: none;
    }

    .profile-imagespace {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 100px;
        height: 140px;
        overflow: hidden;
        box-sizing: border-box;
        margin-top: -390px;
        z-index: 1;
    }

    #profile-image {
        width: 100%;
        height: 100%;
    }

    .mini_pwChange {
        position: absolute;
        left: 82%;
        transform: translate(-50%);
        width: 60px;
        height: 40px;
        font-size: 14px;
        border-radius: 3px;
        background-color: #949393;
        color: white;
        text-align: center;
        margin-top: -260px;
        z-index: 0;
    }

    .profile1 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 200px;
        background-color: #ffffff;
        border: 0.2px solid #949393;
        border-radius: 3px;
        padding: 15px 30px;
    }

    .profile2 {
        position: absolute;
        top: 78%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 280px;
        border: 0.2px solid #949393;
        border-radius: 3px;
        padding: 15px 30px;
        margin-top: -20px;
    }


    .basic-info {
        font-size: 14px;
        color: #949393;
    }

    .mini_update {
        margin-top: -20px;
        float: right;
        width: 40px;
        height: 25px;
        border-radius: 3px;
        background-color: #181F42;
        font-size: 13px;
        color: white;
        text-align: center;
    }

    .profile1-table {
        width: 100%;
        height: 95%;
        border: none;
        border-spacing: 10px;
        vertical-align: top;
        text-align: center;
    }

    .name {
        font-weight: bold;
        font-size: 22px;
    }

    tr > .name {
        height: 10%;
    }

    .mini-email {
        font-size: 13px;
        color: #949393;
        line-height: 13px;
    }

    .tel, .address {
        font-size: 15px;
        line-height: 20px;
    }


    .profile2-table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: none;
        font-size: 16px;
        text-align: center;
    }

    .col1, .col2, .tel, .address {
        border-bottom: 0.2px solid #949393;
    }

    .col1 {
        width: 60%;
        color: #949393;
    }

    .help, .customer_center, .footer_line {
        display: none;
    }


}

@media (max-height: 770px) {
    #_emt2 {
        overflow: auto;
        height: 700px;
    }
}