#fullscreen{
    width: 100vw;
    height: 100vh;
}
#_emt1{
    width: 100%;
    height: 70px;
}
#_emt2{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
#_emt3{
    width: 100px;
    height: 100%;
}
#_emt4{
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
}
#use_screen{
    width: 100%;
    height: 100%;
}

.mypage-title {
    font-size: 15px;
    color: #949393;
    position: absolute;
    margin-left: 40px;
    margin-top: 40px;
}

.pwChangeLink {
    font-size: 13px;
    color: #949393;
    position: absolute;
    left: 50px;
    top: 280px;
}

.profile-card {
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 10vw;
    top: 150px;
    flex-direction: column;
    align-items: center;
}

#profile-imageL {
    width: 170px;
    height: 170px;
}

.btnUpdate {
    position: absolute;
    left: 10px;
    top: 200px;
    width: 150px;
    height: 50px;
    background-color: #878BA0;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    border: none;
}

.btnUpdate:hover {
    background-color: #6E7182;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile1 {
    position: absolute;
    top: 150px;
    width: calc(100vw - 800px);
    left: 35vw;
    height: 280px;
    background-color: #ffffff;
    border: 0.2px solid #949393;
    border-radius: 3px;
    padding: 15px 30px;
}

.profile2 {
    display: flex;
    justify-content: flex-start;
    top: 480px;
    position: absolute;
    width: calc(100vw - 800px);
    height: 420px;
    background-color: #ffffff;
    border: 0.2px solid #949393;
    border-radius: 3px;
    left: 35vw;
    padding: 15px 30px;
}

ul, li {
    list-style: none;
}


.basic-info {
    font-size: 14px;
    color: #949393;
}

.profile1-table{
    width: 100%;
    height: 95%;
    border: none;
    border-spacing: 10px;
    vertical-align: top;
}

.profile-imagespace {
    width: 15%;
}

.profile-imageR {
    width: 45px;
    height: 45px;
}

.name {
    font-weight: bold;
    font-size: 30px;
}
tr > .name {
    height: 10%;
}

.mini-email {
    font-size: 13px;
    color: #949393;
    line-height: 13px;
}

.tel, .address {
    font-size: 15px;
    line-height: 20px;
}


.profile2-table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    font-size: 16px;
}

.col1, .col2, .tel, .address {
    border-bottom: 0.2px solid #949393;
}

.col1{
    width: 30%;
    color: #949393;
}

