<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Empty</title>
    <th:block layout:fragment="css">
        <!--사용할 css는 여기에 첨부 -->
        <link rel="stylesheet" type="text/css" href="/css/appBuisness.css">
        <link rel="stylesheet" type="text/css" href="/css/approvalRequestPage.css">
    </th:block>
</head>
<body layout:fragment="content">
<div id="fullscreen">
    <div id="_emt1"></div>
    <div id="_emt2">
        <div id="_emt3">
        </div>
        <div id="_emt4">
            <div id="use_screen">
                <!--헤더와 메뉴바를 제외한 영역 -->
                <p class="page-name">출장 결제신청 페이지</p>
                <div class="use_screen_form">
                    <div class="leftSpace"></div>
                    <div class="centerSpace">
                        <!--데이터 입력부-->
                        <form id="insertForm" action="/appRequest/buisness" method="post">
                            <input type="hidden" name="appSort" value='B'>
                            <input type="hidden" name="appState" value="미승인">
                            <input type="hidden" name="userDept" th:value="${session.user.USERDEPT}">
                            <input type="hidden" id="appVacReq" name="appVacReq" value="0">
                            <section id="inputData-section">
                                <div class="input-date">
                                    <div>출장날짜</div>
                                    <div class="input-date-form">
                                        <div class="input-date-form">
                                            <input type="datetime-local" id="input-appStart" name="appStart" th:value="${approval.appStart}" required onchange="handleStartDate()"/>
                                            <p>~</p>
                                            <input type="datetime-local" id="input-appEnd" name="appEnd" th:value="${approval.appEnd}" required onchange="handleEndDate()"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-user">
                                    <div>신청자</div>
                                    <div class="input-user-form">
                                        <input type="hidden" name="userNum" th:value="${session.user.USERNUM}">
                                        <p th:text="${session.user.USERNAME}"></p>
                                    </div>
                                </div>
                                <div class="input-place">
                                    <div>출장 장소</div>
                                    <div class="input-place-form">
                                        <input type="text" id="input-appLocation" name="appLocation" required onkeyup="printPlace()">
                                    </div>
                                </div>
                                <div class="input-text">
                                    <div>출장 목적</div>
                                    <div class="input-text-form">
                            <textarea id="input-appContent" name="appContent" style="resize:vertical" cols="50"
                                      rows="1" required onkeyup="printContent()"></textarea>
                                    </div>
                                </div>
                            </section>
                            <!--데이터 표출부-->
                            <section id="viewData-section">
                                <div class="appForm1">
                                    <div class="appInfo">
                                        <table>
                                            <tr>
                                                <td class="column_appInfoTitle">문서번호</td>
                                                <td class="column_appInfoContent"></td>
                                            </tr>
                                            <tr>
                                                <td class="column_appInfoTitle">부서</td>
                                                <td class="column_appInfoContent" th:text="${session.user.USERDEPT}"></td>
                                            </tr>
                                            <tr>
                                                <td class="column_appInfoTitle">기안일</td>
                                                <td class="column_appInfoContent"></td>
                                            </tr>
                                            <tr>
                                                <td class="column_appInfoTitle">기안자</td>
                                                <td class="column_appInfoContent" th:text="${session.user.USERNAME}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="appTitle">
                                        <h3>출장 신청서</h3>
                                    </div>
                                    <div class="appConfirm">
                                        <table>
                                            <tr>
                                                <td rowspan="3" style="width: 25px;"> 결재</td>
                                                <td style="width: 100px;">담당</td>
                                            </tr>
                                            <tr>
                                                <td style="height: 100px;">담당자 싸인</td>
                                            </tr>
                                            <tr>
                                                <td>담당자 id</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="appForm2">
                                    <div class="appData">
                                        <table>
                                            <tr>
                                                <td class="column_narrow">출장 날짜</td>
                                                <td id="appData-date"></td>
                                                <td class="column_narrow">출장 장소</td>
                                                <td id="appData-place"></td>
                                            </tr>
                                            <tr class="appData-colspan">
                                                <td class="column_narrow">출장 목적</td>
                                                <td colspan="3" id="appData-content"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <div id="dataSubmit-section">
                                <button type="button" id="btnSave">저장</button>
                                <button type="reset" id="btnDelete">취소</button>
                            </div>
                        </form>
                    </div>
                    <div class="rightSpace"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script src="/js/jquery-3.7.0.min.js"></script>
    <script src="/js/appBuisness.js"></script>
</th:block>
</html>