<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Empty</title>
    <th:block layout:fragment="css">
        <!--사용할 css는 여기에 첨부. 2번째 링크는 돋보기 버튼용 -->
        <link rel="stylesheet" type="text/css" href="css/empty.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <link rel="stylesheet" type="text/css" href="css/appDetail.css">
    </th:block>
</head>
<body layout:fragment="content">
<div id="fullscreen">
    <div id="_emt1"></div>
    <div id="_emt2">
        <div id="_emt3">
        </div>
        <div id="_emt4">
            <div id="use_screen">
                <!--헤더와 메뉴바를 제외한 영역 -->
                <!--여기에 본인의 코드를 넣어주시면 됩니다 -->
                <!-- 1st (06.20 17:00) fragment > header에 링크 추가 완료 -->
                <div id="app_main_title">
                    <p>결재 요청</p>
                </div>

                <div id="app_list_card">
                    <div class="card">
                        <p class="card_title">전체 문서</p>
                        <p class="card_content" th:text="${cntMemTotalApp + ' 건'}"></p>
                    </div>
                    <div class="card">
                        <p class="card_title">결재 대기 문서</p>
                        <p class="card_content" th:text="${cntMemWaitApp + ' 건'}"></p>
                    </div>
                    <div class="card">
                        <p class="card_title">반려된 문서</p>
                        <p class="card_content" th:text="${cntMemRejectApp + ' 건'}"></p>
                    </div>
                    <div class="card">
                        <p class="card_title">결재 완료 건</p>
                        <p class="card_content" th:text="${cntMemFinApp + ' 건'}"></p>
                    </div>
                </div>

                <div style="clear: both;"></div>

                <div class="app-list-tab">

                    <form th:action="@{/approvalList}" method="get">
                        <input type="hidden" name="cls" th:value="${cls}">
                        <div class="search-box">
                            <input type="text" class="search-txt" name="sWord" th:value="${sWord}"
                                   placeholder="검색어를 입력하시오">
                            <button type="submit" class="search-btn">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>

                    <ul class="taps">
                        <li class="tap-link here" data-tab="tap_all"
                            th:if="${cls == ''}"
                            th:onClick="|window.location.href='/appDetail?cls='|">전체
                        </li>
                        <li class="tap-link" data-tab="tap_all"
                            th:unless="${cls == ''}"
                            th:onClick="|window.location.href='/appDetail?cls='|">전체
                        </li>
                        <li class="tap-link here" data-tab="tap_meeting"
                            th:if="${cls == 'M'}"
                            th:onClick="|window.location.href='/appDetail?cls=M'|">회의
                        </li>
                        <li class="tap-link" data-tab="tap_meeting"
                            th:unless="${cls=='M'}"
                            th:onClick="|window.location.href='/appDetail?cls=M'|">회의
                        </li>
                        <li class="tap-link here" data-tab="tap_business"
                            th:if="${cls=='B'}"
                            th:onClick="|window.location.href='/appDetail?cls=B'|">출장
                        </li>
                        <li class="tap-link" data-tab="tap_business"
                            th:unless="${cls=='B'}"
                            th:onClick="|window.location.href='/appDetail?cls=B'|">출장
                        </li>
                        <li class="tap-link here" data-tab="tap_vacation"
                            th:if="${cls=='V'}"
                            th:onClick="|window.location.href='/appDetail?cls=V'|">휴가
                        </li>
                        <li class="tap-link" data-tab="tap_vacation"
                            th:unless="${cls=='V'}"
                            th:onClick="|window.location.href='/appDetail?cls=V'|">휴가
                        </li>
                    </ul>


                    <div style="clear: both;"></div>

                    <div class="content-wrapper">

                        <div id="tap_all" class="tab-content now">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width: 10%">번호</th>
                                    <th style="width: 10%">구분</th>
                                    <th style="width: 28%">문서제목</th>
                                    <th style="width: 12%">결재 작성일</th>
                                    <th style="width: 12%">결재(반려)일</th>
                                    <th style="width: 12%">결재상태</th>
                                    <th style="width: 12%">결재 승인자</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr th:each="approval : ${appForUser}">
                                    <th class="left-line" th:text="${approval.appNum}"></th>
                                    <!-- 문서번호. 값에 따른 조건문-->
                                    <td th:switch="${approval.appSort}">
                                        <span th:case="V">휴가</span>
                                        <span th:case="B">출장</span>
                                        <span th:case="M">회의</span>
                                    </td>
                                    <td><a th:href="@{/appDetail/{appNum} (appNum=${approval.appNum})}"
                                           th:text="${approval.appContent}"></a></td>
                                    <td th:text="${#temporals.format(approval.appWriDate, 'yyyy-MM-dd')}"></td>
                                    <td th:text="${#temporals.format(approval.appStateDate, 'yyyy-MM-dd')}"></td>
                                    <td th:text="${approval.appState}"></td>
                                    <!-- 결재 승인자  -->
                                    <td class="right-line" th:text="${approval.appUserNum != null ? approval.appUserNum.getUSERNAME() : ' '}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="pagination">
                    <!-- 스타트 페이지부터 엔트페이지까지 순서대로 담(sequence)겠다 -->
                    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <th:block th:if="${page > 0}"> <!-- 페이지가 하나 뿐일 때 0과 1이 나타나기때문에 0은 필터해주기 위한 작업 -->
                            <!-- 현재 페이지 표출은 인덱스+1인 상태라, nowpage가 아닐 경우, -1을 해서 해당 페이지 링크로 갈 수 있도록 인덱스로 맞춰줌 -->
                            <a th:if="${page != nowPage}"
                               th:href="@{/appDetail(page = ${page - 1}, cls = ${cls}, sWord = ${param.sWord})}"
                               th:text="${page}" class="pageNum"></a>
                            <strong th:if="${page == nowPage}" th:text="${page}" id="nowPage"></strong>
                        </th:block>
                    </th:block>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <!--사용할 자바스크립트는 여기에 첨부 -->
    <script th:inline="javascript">

    </script>
</th:block>
</html>