<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Empty</title>
    <th:block layout:fragment="css">
        <!--사용할 css는 여기에 첨부. 2번째 링크는 돋보기 버튼용 -->
        <link rel="stylesheet" type="text/css" href="css/empty.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <link rel="stylesheet" type="text/css" href="css/approvalList.css">
    </th:block>
</head>
<body layout:fragment="content">
<div id="fullscreen">
    <div id="_emt1"></div>
    <div id="_emt2">
        <div id="_emt3">
        </div>
        <div id="_emt4">
            <div id="use_screen">
                <!--헤더와 메뉴바를 제외한 영역 -->
                <!--여기에 본인의 코드를 넣어주시면 됩니다 -->
                <!-- 1st (06.20 17:00) fragment > header에 링크 추가 완료 -->
                <div id="app_main_title">
                    <p>전자결재 요청(팀장용)</p>
                </div>

                <div id="app_list_card">
                    <div class="card">
                        <p class="card_title">전체 문서</p>
                        <p class="card_content" th:text="${cntLeadTotalApp + ' 건'}"></p>
                    </div>
                    <div class="card">
                        <p class="card_title">승인 대기 문서</p>
                        <p class="card_content" th:text="${cntLeadWaitApp + ' 건'}"></p>
                    </div>
                    <div class="card">
                        <p class="card_title">반려 문서</p>
                        <p class="card_content" th:text="${cntLeadRejectApp + ' 건'}"></p>
                    </div>
                    <div class="card">
                        <p class="card_title">승인 완료 문서</p>
                        <p class="card_content" th:text="${cntLeadFinApp + ' 건'}"></p>
                    </div>

                </div>

                <div style="clear: both;"></div>

                <div class="app-list-tab">

                    <ul class="taps">
                        <li class="tap-link here" data-tab="tap_all">전체</li>
                        <li class="tap-link" data-tab="tap_meeting">회의</li>
                        <li class="tap-link" data-tab="tap_business">출장</li>
                        <li class="tap-link" data-tab="tap_vacation">휴가</li>

                    </ul>
                    <form th:action="@{/approvalList}" method="get">
                        <div class="search-box">
                            <input type="text" class="search-txt" name="sWord" th:value="${sWord}" placeholder="검색어를 입력하시오">
                            <button type="submit" class="search-btn" >
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>

                    <div style="clear: both;"></div>

                    <div class="content-wrapper">

                        <div id="tap_all" class="tab-content now">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width: 10%">번호</th>
                                    <th style="width: 10%">구분</th>
                                    <th style="width: 28%">문서제목</th>
                                    <th style="width: 12%">결재 작성일</th>
                                    <th style="width: 12%">결재(반려)일</th>
                                    <th style="width: 12%">결재상태</th>
                                    <th style="width: 12%">승인 요청자</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr th:each="approval : ${appForLeader}">
                                    <!-- 문서번호 -->
                                    <th class="left-line" th:text="${approval.appNum}"></th>

                                    <!-- 문서번호. 값에 따른 조건문-->
                                    <td th:switch="${approval.appSort}">
                                        <span th:case="V">휴가</span>
                                        <span th:case="B">출장</span>
                                        <span th:case="M">회의</span>
                                    </td>

                                    <!-- 문서제목.........우선 연결은 좀 나중에 2023.07.03 14:35 -->
                                    <td><a th:href="@{/approvalList/{appNum} (appNum=${approval.appNum})}" th:text="${approval.appContent}"></a></td>


                                    <!-- 결재 작성일 -->
                                    <td th:text="${#temporals.format(approval.appWriDate, 'yyyy-MM-dd')}"></td>

                                    <!-- 결재(반려)일 -->
                                    <td th:text="${#temporals.format(approval.appStateDate, 'yyyy-MM-dd')}"></td>

                                    <!-- 결재 상태 -->
                                    <td th:text="${approval.appState}"></td>

                                    <!-- 결재 요청자  -->
                                    <td class="right-line" th:text="${approval.userNum.getUSERNAME()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="tap_meeting" class="tab-content">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width: 10%">번호</th>
                                    <th style="width: 10%">구분</th>
                                    <th style="width: 28%">문서제목</th>
                                    <th style="width: 12%">결재 작성일</th>
                                    <th style="width: 12%">결재(반려)일</th>
                                    <th style="width: 12%">결재상태</th>
                                    <th style="width: 12%">승인 요청자</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="approval : ${appForLeader}" th:if="${approval.appSort} == 'M'">
                                    <!-- 문서번호 -->
                                    <th class="left-line" th:text="${approval.appNum}"></th>

                                    <!-- 구분-->
                                    <td>회의</td>

                                    <!-- 문서제목.........우선 연결은 좀 나중에 2023.07.03 14:35 -->
                                    <td><a href="#" th:text="${approval.appContent}"></a></td>

                                    <!-- 결재 작성일 -->
                                    <td th:text="${#temporals.format(approval.appWriDate, 'yyyy-MM-dd')}"></td>

                                    <!-- 결재(반려)일 -->
                                    <td th:text="${#temporals.format(approval.appStateDate, 'yyyy-MM-dd')}"></td>

                                    <!-- 결재 상태 -->
                                    <td th:text="${approval.appState}"></td>

                                    <!-- 결재 요청자  -->
                                    <td class="right-line" th:text="${approval.userNum.getUSERNAME()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="tap_business" class="tab-content">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width: 10%">번호</th>
                                    <th style="width: 10%">구분</th>
                                    <th style="width: 28%">문서제목</th>
                                    <th style="width: 12%">결재 작성일</th>
                                    <th style="width: 12%">결재(반려)일</th>
                                    <th style="width: 12%">결재상태</th>
                                    <th style="width: 12%">승인 요청자</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="approval : ${appForLeader}" th:if="${approval.appSort} == 'B'">
                                    <!-- 문서번호 -->
                                    <th class="left-line" th:text="${approval.appNum}"></th>

                                    <!-- 구분-->
                                    <td>출장</td>

                                    <!-- 문서제목.........우선 연결은 좀 나중에 2023.07.03 14:35 -->
                                    <td><a href="#" th:text="${approval.appContent}"></a></td>

                                    <!-- 결재 작성일 -->
                                    <td th:text="${#temporals.format(approval.appWriDate, 'yyyy-MM-dd')}"></td>

                                    <!-- 결재(반려)일 -->
                                    <td th:text="${#temporals.format(approval.appStateDate, 'yyyy-MM-dd')}"></td>

                                    <!-- 결재 상태 -->
                                    <td th:text="${approval.appState}"></td>

                                    <!-- 결재 요청자  -->
                                    <td class="right-line" th:text="${approval.userNum.getUSERNAME()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="tap_vacation" class="tab-content">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width: 10%">번호</th>
                                    <th style="width: 10%">구분</th>
                                    <th style="width: 28%">문서제목</th>
                                    <th style="width: 12%">결재 작성일</th>
                                    <th style="width: 12%">결재(반려)일</th>
                                    <th style="width: 12%">결재상태</th>
                                    <th style="width: 12%">승인 요청자</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="approval : ${appForLeader}" th:if="${approval.appSort} == 'V'">
                                    <!-- 문서번호 -->
                                    <th class="left-line" th:text="${approval.appNum}"></th>

                                    <!-- 구분-->
                                    <td>휴가</td>

                                    <!-- 문서제목.........우선 연결은 좀 나중에 2023.07.03 14:35 -->
                                    <td><a href="#" th:text="${approval.appContent}"></a></td>

                                    <!-- 결재 작성일 -->
                                    <td th:text="${#temporals.format(approval.appWriDate, 'yyyy-MM-dd')}"></td>

                                    <!-- 결재(반려)일 -->
                                    <td th:text="${#temporals.format(approval.appStateDate, 'yyyy-MM-dd')}"></td>

                                    <!-- 결재 상태 -->
                                    <td th:text="${approval.appState}"></td>

                                    <!-- 결재 요청자  -->
                                    <td class="right-line" th:text="${approval.userNum.getUSERNAME()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>

                <div class="pagination">
                    <!-- 스타트 페이지부터 엔트페이지까지 순서대로 담(sequence)겠다 -->
                    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <th:block th:if="${page > 0}"> <!-- 페이지가 하나 뿐일 때 0과 1이 나타나기때문에 0은 필터해주기 위한 작업 -->
                            <!-- 현재 페이지 표출은 인덱스+1인 상태라, nowpage가 아닐 경우, -1을 해서 해당 페이지 링크로 갈 수 있도록 인덱스로 맞춰줌 -->
                            <a th:if="${page != nowPage}"
                               th:href="@{/approvalList(page = ${page - 1}, keyword = ${param.keyword})}"
                               th:text="${page}" class="pageNum"></a>
                            <strong th:if="${page == nowPage}" th:text="${page}" id="nowPage"></strong>
                        </th:block>
                    </th:block>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <!--사용할 자바스크립트는 여기에 첨부 -->
<!--    <script src="/js/jquery-3.7.0.min.js"></script>-->
<!--    <script>-->
<!--        $(function () {-->
<!--            $(".tap-link").click(function () {-->
<!--                dept = $(this).data("tab");-->
<!--                console.log(dept);-->
<!--            });-->
<!--        })-->
<!--    </script>-->
    <script th:inline="javascript">
        $(document).ready(function () {
            $('.tap-link').click(function () {
                let tab_id = $(this).attr('data-tab');

                $('.tap-link').removeClass('here');
                $('.tab-content').removeClass('now');

                $(this).addClass('here');
                $("#" + tab_id).addClass('now');
            });

        });
    </script>
</th:block>
</html>


