<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </th:block>
</head>
<body layout:fragment="content">
<div id="fullscreen">
    <div id="_emt1"></div>
    <div id="_emt2">
        <div id="_emt3">
        </div>
        <div id="_emt4">
            <div id="div1290">
                <div class="a_screen1" id="a_screen1"></div>
                <div id="a_screen2">
                    <div id="b_screen">
                        <div id="b_screen_1">
                            <div id="b_screen_1_1">
                                <div class="shadow" id="user_shw">
                                    <div class="com_title">
                                        <div class="title">
                                            <div class="title_1">
                                            </div>
                                            <div class="title_2">
                                                <h4 class="title_text">출퇴근</h4>
                                            </div>
                                            <div class="title_3">
                                                <button type="button" class="btn_more">출퇴근 상태</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="com_content_on_off">
                                        <div id="user_on_off_div">
                                            <table id="usertable">
                                                <tr>
                                                    <td rowspan="3" id="img_td"
                                                        style="border: 1px solid darkgray; border-right-width: 0px; border-top-left-radius: 5px; border-bottom-left-radius: 5px">
                                                        <div id="user_img_div">
                                                            <img th:src="@{'/upload/' + ${user.USERIMAGE}}"
                                                                 alt="프로필 사진" id="user_img"
                                                                 style="font-size: 0px"
                                                            >
                                                        </div>
                                                    </td>
                                                    <td class="userinfo_div_th">이름</td>
                                                    <td class="userinfo_div_td" style="border-top-right-radius: 5px"
                                                        th:text="${session.user.USERNAME}"></td>
                                                </tr>
                                                <tr>
                                                    <td class="userinfo_div_th" style="border-top-width: 0px;">사번</td>
                                                    <td class="userinfo_div_td"
                                                        th:text="${session.user.USERENO}"></td>
                                                </tr>
                                                <tr>
                                                    <td class="userinfo_div_th"
                                                        style="border-bottom-width: 1px; border-top-width: 0px">부서
                                                    </td>
                                                    <td class="userinfo_div_td"
                                                        style="border-bottom-width: 1px; border-bottom-right-radius: 5px"
                                                        th:text="${session.user.USERDEPT}"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="on_off_div">
                                                        <div class="on_off_btn_div1">
                                                            <div class="on_off_btn_div2">
                                                                <button id="on" class="onoff_btn">출근</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="on_off_div">
                                                        <div class="on_off_btn_div1">
                                                            <div class="on_off_btn_div2">
                                                                <button id="off" class="onoff_btn">퇴근</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="on_off_div" id="on_text">출근 시각</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="on_off_div" id="off_text">퇴근 시각</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="b_screen_2">
                            <div class="shadow" id="chart_shw">
                                <div class="com_title">
                                    <div class="title">
                                        <h4 class="title_text">업무 시간</h4>
                                    </div>
                                </div>
                                <div class="com_content">
                                    <div id="b_screen_2_1">
                                        <div id="chart_btn">
                                            <div id="chart_btn1">
                                                <span id="chart_title">월간 근무 시간</span>
                                            </div>
                                            <div id="chart_btn2">
                                                <button id="changeChart">차트 변경</button>
                                            </div>
                                        </div>
                                        <div id="chart_div">
                                            <div id="main"></div>
                                            <div id="hoverInfo"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="b_screen_3">
                            <div class="shadow" id="cal_shw">
                                <div class="com_title">
                                    <div class="title" id="cal_title">
                                        <h4 class="title_text" id="cal_text">캘린더</h4>
                                    </div>
                                </div>
                                <div class="com_content">
                                    <div id="calendar_div">
                                        <div id="cal_btn_div">
                                            <button class="cal_btn" id="all">출근</button>
                                            <button class="cal_btn" id="vacation">
                                                휴가
                                            </button>
                                            <button class="cal_btn" id="meeting">
                                                회의
                                            </button>
                                            <button class="cal_btn" id="business">
                                                출장
                                            </button>
                                        </div>
                                        <div id="cal_div">
                                            <div id='calendar'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div id="c_screen">
                        <div id="d_screen">
                            <div class="shadow" id="onoff_shw">
                                <div id="b_screen_1_2_1">
                                    <div id="on_off_check">
                                        <div id="onoff-grid-container" th:each="item : ${userMap}">
                                            <div class="item">
                                                <table class="onoff_table" th:id="${item.get('user').USERNUM}">
                                                    <tr>
                                                        <td rowspan="2" class="img_td">
                                                            <div class="img_td_div">
                                                                <img th:src="@{'/upload/' + ${item.get('user').USERIMAGE}}"
                                                                     alt="유저 프로필 이미지"
                                                                     class="img_list"
                                                                     style="font-size: 0px"
                                                                />
                                                            </div>
                                                        </td>
                                                        <td class="name_list"
                                                            th:text="${item.get('user').USERNAME}"></td>
                                                        <td class="name_list2">출근</td>
                                                        <td class="name_list2">퇴근</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cno_list"
                                                            th:text="${item.get('user').USERENO}"></td>
                                                        <td class="cno_list">
                                                            <div class="on_div"
                                                                 th:data-check="${item.get('oncheck')}">
                                                                <div class="on_img">
                                                                    <input type="hidden"
                                                                           th:value="${item.get('userontime')}"
                                                                           th:id="${'ontime'+item.get('user').USERNUM}">
                                                                    <div class="tooltip"></div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="cno_list">
                                                            <div class="off_div"
                                                                 th:data-check="${item.get('offcheck')}">
                                                                <div class="off_img">
                                                                    <input type="hidden"
                                                                           th:value="${item.get('userofftime')}"
                                                                           th:id="${'offtime'+item.get('user').USERNUM}">
                                                                    <div class="tooltip"></div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="e_f_screen">
                            <div id="e_screen">
                                <div class="shadow" id="nboard_shw">
                                    <div class="com_title">
                                        <div class="title">
                                            <div class="title_1">
                                            </div>
                                            <div class="title_2">
                                                <h4 class="title_text">공지 게시판</h4>
                                            </div>
                                            <div class="title_3">
                                                <a class="more_text" href="/noticeDept/list">+ 더보기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="com_content">
                                        <div class="board">
                                            <div class="notice_div">
                                                <div class="notice-grid-container">
                                                    <div class="notice_item" id="nboardList">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="f_screen">
                                <div class="shadow" id="dboard_shw">
                                    <div class="com_title">
                                        <div class="title">
                                            <div class="title">
                                                <div class="title_1">
                                                </div>
                                                <div class="title_2">
                                                    <h4 class="title_text">전사 게시판</h4>
                                                </div>
                                                <div class="title_3">
                                                    <a class="more_text" href="/boardDept/list">+ 더보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="com_content">
                                        <div class="board">
                                            <div class="notice_div">
                                                <div class="notice-grid-container">
                                                    <div class="notice_item" ID="dboardList">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="h_screen">
                        <div id="h_screen_1">

                        </div>
                        <div id="h_screen_2">

                        </div>
                    </div>
                </div>
                <div class="a_screen1" id="a_screen1_1"></div>
            </div>
            <div id="div1200">

            </div>
        </div>
    </div>
    <div class="popup_layer" id="popup_layer">
        <div class="popup_box">
            <!--팝업 컨텐츠 영역-->
            <div class="popup_cont">
                <div class="popup_cont_0">
                    <p id="title"></p>
                </div>
                <div class="popup_cont_1">
                    <p id="vacation_type"></p>
                    <p id="approve_name"></p>
                    <div id="popup_title_div">
                        <p id="popup_title"></p>
                    </div>
                </div>
                <div class="popup_cont_2">
                    <div id="popup_date_div">
                        <p id="popup_date"></p>
                    </div>
                </div>
                <div class="popup_cont_4">
                    <p id="applocate"></p>
                </div>
                <div class="popup_cont_5">
                    <p id="meetingPT"></p>
                </div>
                <div class="popup_cont_3">
                    <p id="conetent"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"
            integrity="sha512-VdqgeoWrVJcsDXFlQEKqE5MyhaIgB9yXUVaiUa8DR2J4Lr1uWcFm+ZH/YnzV5WqgKf4GPyHQ64vVLgzqGIchyw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.8/index.global.min.js'></script>
    <script src='/js/locales/ko.global.min.js'></script>
    <script src="/js/main.js"></script>
    <script>
        $(function () {
            let isBtn = true;
            $(".btn_more").on("click", () => {
                if (isBtn) {
                    $('#onoff_shw').css("display", "");
                    $('#user_on_off_div').css("display", "none");
                    $(".btn_more").text("내 정보");
                    isBtn = false;
                } else {
                    $('#onoff_shw').css("display", "none");
                    $('#user_on_off_div').css("display", "");
                    $(".btn_more").text("출퇴근 상태");
                    isBtn = true;
                }
            });

            function moveShadow() {
                let windowWidth = window.innerWidth;
                let bScreen2 = document.getElementById('b_screen_2');
                let dScreen = document.getElementById('d_screen');
                let bScreen3 = document.getElementById('b_screen_3');
                let hScreen = document.getElementById('h_screen');
                let eScreen = document.getElementById('e_screen');
                let fScreen = document.getElementById('f_screen');
                let hScreen2 = document.getElementById('h_screen_1');
                let hScreen3 = document.getElementById('h_screen_2');
                let div1200 = document.getElementById('div1200');
                let div1290 = document.getElementById('div1290');
                let bScreen1_1 = document.getElementById('com_content_on_off');

                $('#div1200').css("display", "none");
                let shadow1 = document.querySelector('#div1200 #a_screen1');
                if (shadow1) {
                    div1290.appendChild(shadow1);
                }
                let shadow2 = document.querySelector('#div1200 #a_screen2');
                if (shadow2) {
                    div1290.appendChild(shadow2);
                }
                let shadow3 = document.querySelector('#div1200 #a_screen1_1');
                if (shadow3) {
                    div1290.appendChild(shadow3);
                }

                if (windowWidth <= 1290) {
                    $('#onoff_shw').css("display", "none");
                    if (isBtn) {
                        $('#onoff_shw').css("display", "none");
                        $('#user_on_off_div').css("display", "");
                    } else {
                        $('#onoff_shw').css("display", "");
                        $('#user_on_off_div').css("display", "none");
                    }
                    let onoff = document.querySelector('#d_screen #onoff_shw');
                    if (onoff) {
                        bScreen1_1.appendChild(onoff);
                    }
                    let shadow1 = document.querySelector('#div1290 #a_screen1');
                    if (shadow1) {
                        div1200.appendChild(shadow1);
                    }
                    let shadow2 = document.querySelector('#div1290 #a_screen2');
                    if (shadow2) {
                        div1200.appendChild(shadow2);
                    }
                    let shadow3 = document.querySelector('#div1290 #a_screen1_1');
                    if (shadow3) {
                        div1200.appendChild(shadow3);
                    }
                    $('#div1200').css("display", "");

                    let shadow = document.querySelector('#d_screen #chart_shw');
                    if (shadow) {
                        bScreen3.appendChild(shadow);
                    }
                    let shadow4 = document.querySelector('#b_screen_2 #chart_shw');
                    if (shadow4) {
                        bScreen3.appendChild(shadow4);
                    }

                    let shadow5 = document.querySelector('#b_screen_3 #cal_shw');
                    if (shadow5) {
                        dScreen.appendChild(shadow5);
                    }

                    let nboard = document.querySelector('#e_screen #nboard_shw');
                    if (nboard) {
                        hScreen2.appendChild(nboard);
                    }
                    let dboard = document.querySelector('#f_screen #dboard_shw');
                    if (dboard) {
                        hScreen3.appendChild(dboard);
                    }


                } else if (windowWidth <= 1600) {
                    $('#onoff_shw').css("display", "none");
                    if (isBtn) {
                        $('#onoff_shw').css("display", "none");
                        $('#user_on_off_div').css("display", "");
                    } else {
                        $('#onoff_shw').css("display", "");
                        $('#user_on_off_div').css("display", "none");
                    }
                    let onoff = document.querySelector('#d_screen #onoff_shw');
                    if (onoff) {
                        bScreen1_1.appendChild(onoff);
                    }
                    let shadow = document.querySelector('#b_screen_2 #chart_shw');
                    if (shadow) {
                        dScreen.appendChild(shadow);
                    }
                    let shadow2 = document.querySelector('#b_screen_3 #chart_shw');
                    if (shadow2) {
                        dScreen.appendChild(shadow2);
                    }

                    let shadow5 = document.querySelector('#d_screen #cal_shw');
                    if (shadow5) {
                        bScreen3.appendChild(shadow5);
                    }

                    let nboard = document.querySelector('#h_screen_1 #nboard_shw');
                    if (nboard) {
                        eScreen.appendChild(nboard);
                    }

                    let dboard = document.querySelector('#h_screen_2 #dboard_shw');
                    if (dboard) {
                        fScreen.appendChild(dboard);
                    }

                } else {
                    $('#onoff_shw').css("display", "");
                    if (!isBtn) {
                        $(".btn_more").click();
                        $('#onoff_shw').css("display", "");
                    }
                    let shadow1 = document.querySelector('#b_screen_1_1 #onoff_shw');
                    if (shadow1) {
                        dScreen.appendChild(shadow1);
                    }
                    let shadow = document.querySelector('#d_screen #chart_shw');
                    if (shadow) {
                        bScreen2.appendChild(shadow);
                    }
                    let shadow2 = document.querySelector('#b_screen_3 #chart_shw');
                    if (shadow2) {
                        bScreen2.appendChild(shadow2);
                    }
                    let shadow3 = document.querySelector('#d_screen #cal_shw');
                    if (shadow3) {
                        bScreen3.appendChild(shadow3);
                    }
                    let nboard = document.querySelector('#h_screen_1 #nboard_shw');
                    if (nboard) {
                        eScreen.appendChild(nboard);
                    }
                    let dboard = document.querySelector('#h_screen_2 #dboard_shw');
                    if (dboard) {
                        fScreen.appendChild(dboard);
                    }
                }
            }

            window.addEventListener('load', moveShadow);
            window.addEventListener('resize', moveShadow);
        });
    </script>
</th:block>
</html>