<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </th:block>
</head>
<body layout:fragment="content">
<div id="fullscreen">
    <div id="_emt1"></div>
    <div id="_emt2">
        <div id="_emt3">

        </div>
        <div id="_emt4">
            <div class="a_screen1"></div>
            <div id="a_screen2">
                <div id="b_screen">
                    <div id="b_screen_1">
                        <div id="b_screen_1_1">
                            <div id="shadow">
                                <div id="com_title">
                                    <div id="title">
                                        <h4 id="title_text">출퇴근</h4>
                                    </div>
                                </div>
                                <div id="com_content_on_off">
                                    <div id="user_on_off_div">
                                        <div id="user_img_div">
                                            <img src="img/user.jpg" id="user_img">
                                        </div>
                                        <div id="on_off_div">
                                            <div id="on_div">
                                                <div id="on_button_div">
                                                    <button id="on">출근</button>
                                                </div>
                                                <div id="on_time_div">
                                                    <a id="on_text">출근 시각</a>
                                                </div>
                                            </div>
                                            <div id="off_div">
                                                <div id="off_button_div">
                                                    <button id="off">퇴근</button>
                                                </div>
                                                <div id="off_time_div">
                                                    <a id="off_text">퇴근 시각</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="b_screen_1_2">
                            <div id="shadow">
                                <div id="b_screen_1_2_1">
                                    <div id="on_off_check">
                                        <div id="onoff-grid-container" th:each="item : ${userMap}">
                                            <div class="item">
                                                <table class="onoff_table">
                                                    <tr>
                                                        <td rowspan="2" class="img_td">
                                                            <div class="img_td_div">
                                                                <img src="img/user.jpg" alt="유저 프로필 이미지"
                                                                     class="img_list"/>
                                                            </div>
                                                        </td>
                                                        <td class="name_list" th:text="${item.get('user').USER_NAME}"></td>
                                                        <td class="name_list2">출근</td>
                                                        <td class="name_list2">퇴근</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cno_list" th:text="${item.get('user').USERENO}"></td>
                                                        <td class="cno_list">
                                                            <div class="on_div" th:data-check="${item.get('oncheck')}">
                                                                <div class="on_img"></div>
                                                            </div>
                                                        </td>
                                                        <td class="cno_list">
                                                            <div class="off_div" th:data-check="${item.get('offcheck')}">
                                                                <div class="off_img"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="b_screen_2">
                        <div id="shadow">
                            <div id="com_title">
                                <div id="title">
                                    <h4 id="title_text">업무 시간</h4>
                                </div>
                            </div>
                            <div id="com_content">
                                <div id="b_screen_2_1">
                                    <div id="chart_btn">
                                        <button id="changeChart">차트 변경</button>
                                    </div>
                                    <div id="main">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="b_screen_3">
                        <div id="shadow">
                            <div id="com_title">
                                <div id="title">
                                    <h4 id="title_text">캘린더</h4>
                                </div>
                            </div>
                            <div id="com_content">
                                <div id="calendar_div">
                                    <div id="cal_btn_div">
                                        <button class="cal_btn" id="all">출근</button>
                                        <button class="cal_btn" id="vacation">
                                            <div id="circle_vacation"></div>
                                            휴가
                                        </button>
                                        <button class="cal_btn" id="meeting">
                                            <div id="circle_meeting"></div>
                                            회의
                                        </button>
                                        <button class="cal_btn" id="business">
                                            <div id="circle_business"></div>
                                            출장
                                        </button>
                                    </div>
                                    <div id="cal_div">
                                        <div id='calendar'></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div id="c_screen">
                    <div id="e_screen">

                    </div>
                    <div id="d_screen">
                        <div id="d_screen_1">
                            <div id="shadow">
                                <div id="notic_image">
                                    <div class="slider-2">
                                        <div class="side-btns">
                                            <div><span><i class="fas fa-caret-left"></i></span></div>
                                            <div><span><i class="fas fa-caret-right"></i></span></div>
                                        </div>
                                        <div class="slides">
                                            <div class="active"
                                                 style="background-image:url(https://i.ibb.co/KhhN59M/background.jpg);"></div>
                                            <div class="active_a"
                                                 style="background-image:url(https://i.ibb.co/CndHWCK/background1.jpg);"></div>
                                        </div>
                                        <div class="page-nav">
                                            <div class="active"></div>
                                            <div class="active_a"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="a_screen1"></div>
        </div>
    </div>
    <div class="popup_layer" id="popup_layer" style="display: none;">
        <div class="popup_box">
            <!--팝업 컨텐츠 영역-->
            <div class="popup_cont">
                <div id="popup_vacationtype_div"></div>
                <div id="popup_title_div">
                    <p id="popup_title"></p>
                </div>
                <div id="popup_date_div">
                    <p id="popup_date"></p>
                </div>
                <div id="popup_desc_div">
                    <p id="popup_desc"></p>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"
            integrity="sha512-VdqgeoWrVJcsDXFlQEKqE5MyhaIgB9yXUVaiUa8DR2J4Lr1uWcFm+ZH/YnzV5WqgKf4GPyHQ64vVLgzqGIchyw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/slide.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/main.js"></script>
</th:block>
</html>