<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Empty</title>
  <th:block layout:fragment="css">
    <!--사용할 css는 여기에 첨부 -->
    <link rel="stylesheet" type="text/css" href="css/empty.css">
  </th:block>
</head>
<body layout:fragment="content">
<div id="fullscreen">
  <div id="_emt1"></div>
  <div id="_emt2">
    <div id="_emt3">
    </div>
    <div id="_emt4">
      <div id="use_screen">
        <!--헤더와 메뉴바를 제외한 영역 -->
        <!--여기에 본인의 코드를 넣어주시면 됩니다 -->
        <div class="content">
          <div class="mypage">
            <p class="mypage-title">마이페이지</p>
            <div class="profile">
              <img id="bigprofile-image" src="../static/img/user.jpg" alt="프로필 사진">
              <input type="file" id="profile-upload" accept="image/*">
              <button id="edit-profile" type="button">내 프로필 수정</button>
            </div>
          </div>
          <div class="rectangle1">
            <div class="profile1">
              <p class="basic-info">기본 정보</p>
              <div class="profile-image">
                <img src="../static/img/user.jpg" alt="프로필 이미지">
              </div>
              <div class="info">
                <p class="name" th:text="${user.USER_NAME}">이름</p>
                <p class="email" th:email="${user.USER_EMAIL}">이메일</p>
                <p class="phone" th:text="${user.USER_PHONE}">휴대폰 번호</p>

              </div>
            </div>
          </div>

          <div class="rectangle2">
            <div th:class="profile2">
              <p th:class="userNum" th:text="$user.USER_ENO">사번</p>
              <p th:class="userNum" th:text="$user.USER_DEPT">부서</p>
              <p th:class="userNum" th:text="$user.USER_POSITION">직위</p>
              <p th:class="userNum" th:text="$user.USER_ADDRESS">주소</p>
              <p th:class="userNum" th:text="$user.USER_JOIN">입사일</p>
              <p th:class="userNum" th:text="$user.USER_EXIT_CHK">재직여부</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
<th:block layout:fragment="script">
  <!--사용할 자바스크립트는 여기에 첨부 -->

</th:block>
</html>
