<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Empty</title>

    <th:block layout:fragment="css">
        <!--사용할 css는 여기에 첨부 -->
        <link rel="stylesheet" type="text/css" href="/css/empty.css">
        <link rel="stylesheet" type="text/css" href="/css/pwChange.css">
    </th:block>
</head>
<body layout:fragment="content">

<div id="fullscreen">
    <div id="_emt1"></div>
    <div id="_emt2">
        <div id="_emt3">
        </div>
        <div id="_emt4">
            <div id="use_screen">
                <p class="pwChange-title">비밀번호 변경</p>
                <form method="post" id="changePwForm">
                    <input type="password" name="USER_PWD" id="originPw" placeholder="기존 비밀번호"/>
                    <input type="password" name="NEW_USER_PWD" id="changePw" placeholder="변경 비밀번호"/>
                    <p id="pwValidation" style="color: red; font-size: 0.8rem;">
                        비밀번호는 영문자, 숫자, 특수문자 조합의 9자리 이상으로 설정해주세요.
                    </p>
                    <input type="password" name="PWDCHECK" id="newPwChk" placeholder="변경 비밀번호 확인"/>
                    <p id="pwCheckResult" style="font-size: 0.8rem;"></p>
                    <button type="button" id="btnChange">비밀번호 변경</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <!--사용할 자바스크립트는 여기에 첨부 -->
    <script th:inline="javascript">
        $(function() {
            $("#pwValidation").hide();
            $("#pwCheckResult").hide();

            let pwValidation = false;
            //비밀번호 일치 여부
            let checkPw = false;

            //비밀번호 유효성검사 정규식
            const validatePassword = (character) => {
                return /^(?=.*[a-zA-Z])(?=.*[!@#$%^&*+=-])(?=.*[0-9]).{9,}$/.test(character);
            }

            //비밀번호 변경시 유효성 검사
            $("#changePw").on("change", () => {
                if(validatePassword($("#changePw").val())) {
                    pwValidation = true;
                    $("#pwValidation").hide();
                } else {
                    pwValidation = false;
                    $("#pwValidation").show();
                    $("#changePw").focus();
                }

                //비밀번호 확인까지 완료후 다시 비밀번호 재설정 할 때
                if($("#changePw").val() === $("#newPwChk").val()) {
                    checkPw = true;
                    $("#pwCheckResult").css("color", "green");
                    $("#pwCheckResult").text("비밀번호가 일치합니다.");
                } else {
                    checkPw = false;
                    $("#pwCheckResult").css("color", "red");
                    $("#pwCheckResult").text("비밀번호가 일치하지 않습니다.");
                }
            });

            //비밀번호 확인과 비밀번호가 일치하는 지 여부 검사
            $("#newPwChk").on("change", () => {
                $("#pwCheckResult").show();

                if($("#changePw").val() === $("#newPwChk").val()) {
                    checkPw = true;
                    $("#pwCheckResult").css("color", "green");
                    $("#pwCheckResult").text("비밀번호가 일치합니다.");
                } else {
                    checkPw = false;
                    $("#pwCheckResult").css("color", "red");
                    $("#pwCheckResult").text("비밀번호가 일치하지 않습니다.");
                }
            });

            $("#btnChange").on("click", () => {
                if($("#changePw").val() === "" || $("#changePw").val() === null) {
                    pwValidation = true;
                    checkPw = true;
                    $("#pwValidation").hide();
                    $("#pwCheckResult").hide();
                }

                //비밀번호 유효성 검사가 맞지 않을 때
                if(!pwValidation) {
                    alert("비밀번호는 영문자, 숫자, 특수문자 조합의 9자리 이상으로 설정하세요.");
                    $("#changePw").focus();
                    return;
                }

                //비밀번호가 일치하지 않을 때
                if(!checkPw) {
                    alert("새 비밀번호와 비밀번호 확인이 일치하지 않습니다. 다시 확인해주세요.");
                    $("#newPwChk").focus();
                    return;
                }

                const formData = $("#changePwForm").serializeArray();
                const requestBody = {
                    USERNUM: formData[1].value,
                    originPw: formData[2].value,
                    USER_PWD: formData[3].value
                };

                $.ajax({
                    url: '/changePw',
                    type: 'post',
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(requestBody),
                    success: (obj) => {
                        console.log(obj);

                        if(obj.item.originPwCheckMsg === "wrongPw") {
                            alert("기존 비밀번호를 잘못 입력하셨습니다.");
                            $("#originPw").focus();
                            return;
                        } else {
                            alert("정상적으로 수정되었습니다.");
                            location.reload();
                        }
                    },
                    error: (error) => {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</th:block>
</html>
