<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Empty</title>
    <th:block layout:fragment="css">
        <!--사용할 css는 여기에 첨부 -->
        <link rel="stylesheet" type="text/css" href="/css/empty.css">
        <link rel="stylesheet" type="text/css" href="/css/noticeDept/noticelist.css">
    </th:block>
</head>
<body layout:fragment="content">
<div id="fullscreen">
    <div id="_emt1"></div>
    <div id="_emt2">
        <div id="_emt3">
        </div>
        <div id="_emt4">
            <div id="use_screen">
                <!--헤더와 메뉴바를 제외한 영역 -->
                <!--여기에 본인의 코드를 넣어주시면 됩니다 -->
                <section class="notice">
                        <div class="page-title">
                            <div class="container">
                            <p>공지 게시판</p>
                            </div>
                        </div>
                <!-- board seach area -->
                <div id="board-search">
                    <div class="container">
                        <div class="search-window">
                            <form th:action="@{/noticeDept/list}" method="get">
                                <div class="search-wrap">
                                <input type="text" name="searchKeyword" placeholder="검색어를 입력해주세요." th:value="${searchKeyword}">
                                <button type="submit" class="btn btn-dark">검색</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- board list area -->
                    <div id="board-list">
                        <div class="container">
                            <table class="board-table">
                                <thead>
                                    <tr>
                                    <th scope="col" class="th-num">번호</th>
                                    <th scope="col" class="th-title">제목</th>
                                    <th scope="col" class="th-name">이름</th>
                                    <th scope="col" class="th-date">작성일자</th>
                                    <th scope="col" class="th-cnt">조회수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="nboard, loop: ${postList}">
                                    <td th:text="${loop.index}"></td>
                                    <td>
                                    <a th:href="@{|/noticeDept/updateCnt/${nboard.id}|}"
                                       th:text="${nboard.title}"></a>
                                    </td>
                                    <td th:if="${nboard.user != null}" th:text="${nboard.user.USERNAME}"></td>
                                    <td th:text="${#temporals.format(nboard.regDate, 'yyyy-MM-dd HH:mm')}"></td>
                                    <td th:text="${nboard.cnt}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- paging-->
                <div class="pagenation" style="text-align: center">
                    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <th:block th:if="${page > 0}">
                            <a th:if="${page != nowPage}" th:href="@{/noticeDept/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text ="${page}"></a>
                            <strong th:if="${page == nowPage}" th:text ="${page}" style="color:darkblue"></strong>
                        </th:block>
                    </th:block>
                </div>
                <div class="bt_wrap">
                <a href="/noticeDept/noticeWrite" class="on">등록</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <!--사용할 자바스크립트는 여기에 첨부 -->

</th:block>
</html>