<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Empty</title>
  <th:block layout:fragment="css">
    <!--사용할 css는 여기에 첨부 -->
    <link rel="stylesheet" type="text/css" href="/css/empty.css">
    <link rel="stylesheet" type="text/css" href="/css/noticeDept/noticeDetailWriteEdit.css">
  </th:block>
</head>
<body layout:fragment="content">
<div id="fullscreen">
  <div id="_emt1"></div>
  <div id="_emt2">
    <div id="_emt3">
    </div>
    <div id="_emt4">
      <div id="use_screen">
        <!--헤더와 메뉴바를 제외한 영역 -->
        <!--여기에 본인의 코드를 넣어주시면 됩니다 -->
        <div class="noticeTitle">
          <p >공지 게시판</p>
        </div>
        <div class="board_wrap">
          <div class="board_write_wrap">
            <form th:action="@{/noticeDept/modify/{id}(id=${nBoard.id})}" method="post">
              <div class="board_write">
                <div class="title">
                  <dl>
                    <dt>제목</dt>
                    <dd><input type="text" placeholder="제목 입력" name="title" th:value="${nBoard.title}"></dd>
                  </dl>
                </div>
                <div class="info">
                  <dl>
                    <dt>첨부파일</dt>
                    <dd>
                        <input type="file" name="profile">
                    </dd>
                  </dl>
                </div>
                <div class="cont">
                  <textarea placeholder="내용 입력" name="content" th:text="${nBoard.content}"></textarea>
                </div>
              </div>
              <div class="bt_wrap">
                <button type="submit" class="on">수정</button>
                <a th:href="@{/noticeDept/detail/{id}(id=${nBoard.id})}"><button type="button">취소</button></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<th:block layout:fragment="script">
  <!--사용할 자바스크립트는 여기에 첨부 -->

</th:block>
</html>